In [1]:
import pandas as pd
#import matplotlib.ticker as mtick
import numpy as np
from arcgis.gis import *
gis = GIS()

strTAZCB        = "TAZ_CB"
strTAZCBRes     = "TAZ_CB_Res"
strTAZLayerName = "USTM_TAZ_2021_09_22"
strCBLayerName  = "tl_2020_49_tabblock20_UTM"
strHUILayerName = "residential_parcels_pts"
strGEOIDField   = 'GEOID20'

# get project and map
aprx = arcpy.mp.ArcGISProject("CURRENT")
m = aprx.listMaps("Map")[0]

# dissolve TAZs with < 4000 area into adjacent
areaThreshold = 4000

In [2]:
# set layer definition for TAZ
for lyr in m.listLayers(strTAZLayerName):
    lyrTAZ = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "SUBAREAID = 1 AND CO_FIPS IN (49,35,11,57)"
        display('TAZ set to WF Area excluding Box Elder')
                        
                        
# set layer definition for TAZ
for lyr in m.listLayers(strCBLayerName):
    lyrCB = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "COUNTYFP20 IN ('049','035','011','057')"
        display('Census Blocks set to only 4 WF counties')
        
for lyr in m.listLayers(strHUILayerName):
    lyrHUI = lyr

'TAZ set to WF Area excluding Box Elder'

'Census Blocks set to only 4 WF counties'

In [3]:
initial_count = arcpy.management.GetCount(strTAZLayerName)
print (initial_count)

# union with self to see if overlapping polygons
arcpy.analysis.Union([strTAZLayerName, strTAZLayerName], "tempTAZSelfUnion")
selfunion_count = arcpy.management.GetCount("tempTAZSelfUnion")
print (selfunion_count)

arcpy.management.Delete("tempTAZSelfUnion")

3393
3393

In [4]:
initial_count = arcpy.management.GetCount(strCBLayerName)
print (initial_count)

# union with self to see if overlapping polygons
arcpy.analysis.Union([strCBLayerName, strCBLayerName], "tempCBSelfUnion")
selfunion_count = arcpy.management.GetCount("tempCBSelfUnion")
print (selfunion_count)

arcpy.management.Delete("tempCBSelfUnion")

71207
71207

In [4]:
#union
arcpy.analysis.Union([strTAZLayerName, strCBLayerName], strTAZCB + "_temp")

# set layer definition for TAZ
for lyr in m.listLayers(strTAZCB + "_temp"):
    lyrTAZ = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "FID_USTM_TAZ_2021_09_22 <> -1"
        display('TAZ set to WF Area excluding Box Elder')

arcpy.management.CopyFeatures(strTAZCB + "_temp", strTAZCB)
        
#hide layers
lyrTAZ.visible = False
lyrCB.visible = False

'TAZ set to WF Area excluding Box Elder'

In [10]:
# delete unneeded fields
fldlist = arcpy.ListFields(strTAZCB)

for fld in fldlist: 
    if (fld.name not in ['OBJECTID','CO_TAZID',strGEOIDField,'Shape','Shape_Length','Shape_Area']):
        print("deleting field: " + fld.name)
        arcpy.DeleteField_management(strTAZCB,[fld.name])

print("DONE!")

deleting field: FID_USTM_TAZ_2021_09_22
deleting field: TAZID
deleting field: SA_TAZID
deleting field: CO_IDX
deleting field: SUBAREAID
deleting field: ACRES
deleting field: DEVACRES
deleting field: DEVPBLEPCT
deleting field: X
deleting field: Y
deleting field: ADJ_XY
deleting field: CO_FIPS
deleting field: CO_NAME
deleting field: CITY_NAME
deleting field: DISTSUPER
deleting field: DSUP_NAME
deleting field: DISTLRG
deleting field: DLRG_NAME
deleting field: DISTMED
deleting field: DMED_NAME
deleting field: DISTSML
deleting field: DSML_NAME
deleting field: SORT
deleting field: TAZID_V21B
deleting field: SATAZ_V21B
deleting field: COTAZ_V21B
deleting field: SUBID_V21B
deleting field: TAZID_V21A
deleting field: SATAZ_V21A
deleting field: COTAZ_V21A
deleting field: SUBID_V21A
deleting field: FID_tl_2020_49_tabblock20_UTM
deleting field: STATEFP20
deleting field: COUNTYFP20
deleting field: TRACTCE20
deleting field: BLOCKCE20
deleting field: NAME20
deleting field: MTFCC20
deleting field: UR20
deleting field: UACE20
deleting field: UATYPE20
deleting field: FUNCSTAT20
deleting field: ALAND20
deleting field: AWATER20
deleting field: INTPTLAT20
deleting field: INTPTLON20
DONE!

In [11]:
arcpy.analysis.SpatialJoin(strHUILayerName, strTAZCB, strTAZCBRes, "JOIN_ONE_TO_MANY", "KEEP_ALL")
lyrHUI.visible = False

# delte 
fldlist = arcpy.ListFields(strTAZCBRes)

for fld in fldlist: 
    if (fld.name not in ['OBJECTID','CO_TAZID',strGEOIDField,'residential_units','year_built','Shape','Shape_Length','Shape_Area']):
        print("deleting field: " + fld.name)
        arcpy.DeleteField_management(strTAZCBRes,[fld.name])
print("DONE!")

deleting field: Join_Count
deleting field: TARGET_FID
deleting field: JOIN_FID
deleting field: CO_NAME
deleting field: COUNTY_ID
deleting field: PARCEL_ID
deleting field: TOT_VALUE
deleting field: land_value
deleting field: building_sqft
deleting field: FLOORS_CNT
deleting field: EFFBUILT_YR
deleting field: IS_OUG
deleting field: max_dua
deleting field: max_far
deleting field: max_height
deleting field: type1
deleting field: type2
deleting field: type3
deleting field: type4
deleting field: type5
deleting field: type6
deleting field: type7
deleting field: type8
deleting field: agriculture
deleting field: basebldg
deleting field: NoBuild
deleting field: redev_friction
deleting field: building_type_id
deleting field: x
deleting field: y
deleting field: parcel_id_REMM
deleting field: parcel_acres
deleting field: Split
deleting field: Split_Factor
deleting field: parcel_id_REMM_old
deleting field: building_type
deleting field: residential_price
deleting field: non_residential_price
deleting field: non_residential_sqft
deleting field: ORIG_FID
DONE!

In [7]:
# read in TAZ_CB to dataframe to more easily manipulate with Pandas
sdfTazCb = pd.DataFrame.spatial.from_featureclass("TAZ_CB")

In [8]:
# group and get all blocks with at least two 
sdfTazCb_gt1 = sdfTazCb.groupby([strGEOIDField],as_index=False).agg(COUNT=("CO_TAZID","count"))
sdfTazCb_gt1 = sdfTazCb_gt1[(sdfTazCb_gt1['COUNT']>1)]
sdfTazCb_gt1

Empty DataFrame
Columns: [GEOID20, COUNT]
Index: []

In [3]:
for lyr in m.listLayers(strTAZCB):
    lyrTAZCB = lyr

In [8]:
interval = 1000
iFirst = 69000
iLast  = 74000

# toggle for import... since it's such a beast and you don't want to accidently run it
bRunImport = false

if bRunImport:

    for i in range(iFirst,iLast,interval):

        bFirst = True
        #create empty layer for appending
        lyrTAZCB.definitionQuery = strGEOIDField + " = '' AND CO_TAZID = 0"
        arcpy.management.CopyFeatures(strTAZCB, "TAZ_CB_Eliminated_" + str(i))


        for index, row in sdfTazCb_gt1.iterrows():

            if index>=i and index<i+interval: 
                if bFirst:
                    print(i)
                bFirst = False

                # create layer with only splits from a given census block so that eliminates area always back to original census block and not an adjancent
                lyrTAZCB.definitionQuery = strGEOIDField + " = '" + row[strGEOIDField] + "'"

                print (index, row[strGEOIDField])

                arcpy.management.CopyFeatures(strTAZCB, "_temp")

                #select and eliminate pieces with area less than threshold
                arcpy.management.SelectLayerByAttribute("_temp", "NEW_SELECTION", "Shape_Area < " + str(areaThreshold))

                arcpy.management.Eliminate("_temp", "_temp_eliminated", "LENGTH")

                arcpy.management.Merge("TAZ_CB_Eliminated_" + str(i) +";_temp_eliminated", r"_temp_merged", 'CO_TAZID "CO_TAZID" true true false 4 Long 0 0,First,#,TAZ_CB_Eliminated_" + str(i) + ",CO_TAZID,-1,-1,_temp_eliminated,CO_TAZID,-1,-1;GEOID20 "GEOID20" true true false 15 Text 0 0,First,#,TAZ_CB_Eliminated_" + str(i) + ",GEOID20,0,15,_temp_eliminated,GEOID20,0,15;Shape_Length "Shape_Length" false true true 8 Double 0 0,First,#,TAZ_CB_Eliminated_" + str(i) + ",Shape_Length,-1,-1,_temp_eliminated,Shape_Length,-1,-1;Shape_Area "Shape_Area" false true true 8 Double 0 0,First,#,TAZ_CB_Eliminated_" + str(i) + ",Shape_Area,-1,-1,_temp_eliminated,Shape_Area,-1,-1', "NO_SOURCE_INFO")

                arcpy.management.Delete("TAZ_CB_Eliminated_" + str(i))
                
                arcpy.management.CopyFeatures("_temp_merged", "TAZ_CB_Eliminated_" + str(i))
                
                arcpy.management.Delete("_temp_merged")

69000
69000 490572103042002
69001 490572103042003
69004 490572103042006
69005 490572103042007
69025 490572103042027
69026 490572103042028
69035 490572103043000
69039 490572103043004
69040 490572103043005
69041 490572103043006
69042 490572103043007
69043 490572103043008
69045 490572103043010
69046 490572103043011
69049 490572103043014
69050 490572103043015
69059 490572103043024
69060 490572103043025
69062 490572103043027
69064 490572103043029
69066 490572103043031
69068 490572103051001
69080 490572103051013
69086 490572103051019
69087 490572103051020
69088 490572103052000
69090 490572103052002
69093 490572103052005
69094 490572103052006
69096 490572103052008
69097 490572103052009
69099 490572103052011
69102 490572103052014
69103 490572103052015
69105 490572103052017
69109 490572103052021
69110 490572103052022
69113 490572103052025
69115 490572103052027
69116 490572103052028
69117 490572103052029
69119 490572103052031
69121 490572103052033
69123 490572103053001
69127 490572103053005
69130 490572103053008
69135 490572103053013
69136 490572103053014
69138 490572103053016
69144 490572103061000
69145 490572103061001
69146 490572103061002
69150 490572103061006
69151 490572103061007
69156 490572103061012
69158 490572103061014
69159 490572103061015
69166 490572103061022
69167 490572103061023
69169 490572103061025
69170 490572103061026
69171 490572103061027
69172 490572103061028
69175 490572103061031
69176 490572103061032
69177 490572103061033
69178 490572103062000
69181 490572103062003
69185 490572103062007
69188 490572103062010
69190 490572103062012
69193 490572103062015
69194 490572103062016
69196 490572103062018
69197 490572103062019
69198 490572103062020
69199 490572103062021
69202 490572103062024
69203 490572103062025
69205 490572103062027
69206 490572103062028
69207 490572103062029
69209 490572103062031
69219 490572103062041
69220 490572104041000
69222 490572104041002
69224 490572104041004
69225 490572104041005
69226 490572104041006
69227 490572104041007
69228 490572104041008
69229 490572104041009
69230 490572104041010
69231 490572104041011
69232 490572104041012
69236 490572104041016
69237 490572104041017
69238 490572104041018
69239 490572104041019
69240 490572104041020
69241 490572104041021
69242 490572104041022
69243 490572104042000
69244 490572104042001
69247 490572104042004
69248 490572104042005
69249 490572104042006
69250 490572104042007
69252 490572104042009
69253 490572104042010
69254 490572104042011
69255 490572104042012
69256 490572104042013
69257 490572104042014
69260 490572104042017
69261 490572104042018
69262 490572104042019
69264 490572104042021
69265 490572104042022
69266 490572104042023
69269 490572104042026
69270 490572104042027
69271 490572104042028
69274 490572104042031
69275 490572104042032
69276 490572104042033
69277 490572104042034
69278 490572104042035
69279 490572104042036
69280 490572104042037
69281 490572104042038
69282 490572104042039
69283 490572104042040
69284 490572104051000
69285 490572104051001
69286 490572104051002
69288 490572104051004
69289 490572104051005
69290 490572104051006
69291 490572104051007
69292 490572104051008
69294 490572104051010
69295 490572104051011
69298 490572104051014
69300 490572104051016
69301 490572104051017
69302 490572104051018
69303 490572104051019
69304 490572104051020
69305 490572104051021
69306 490572104051022
69307 490572104052000
69310 490572104052003
69311 490572104052004
69312 490572104052005
69313 490572104052006
69314 490572104052007
69315 490572104052008
69316 490572104052009
69318 490572104052011
69320 490572104052013
69321 490572104052014
69322 490572104052015
69327 490572104052020
69328 490572104052021
69329 490572104052022
69330 490572104052023
69331 490572104052024
69332 490572104052025
69333 490572104052026
69334 490572104052027
69335 490572104052028
69336 490572104052029
69337 490572104061000
69338 490572104061001
69342 490572104061005
69351 490572104061014
69353 490572104061016
69354 490572104061017
69356 490572104061019
69359 490572104061022
69360 490572104061023
69361 490572104061024
69362 490572104061025
69364 490572104062000
69365 490572104062001
69366 490572104062002
69368 490572104062004
69373 490572104062009
69376 490572104062012
69377 490572104062013
69378 490572104062014
69380 490572104062016
69382 490572104062018
69383 490572104062019
69384 490572104062020
69385 490572104062021
69388 490572104062024
69390 490572104062026
69391 490572104062027
69394 490572104062030
69395 490572104062031
69398 490572104062034
69399 490572104071000
69400 490572104071001
69401 490572104071002
69402 490572104071003
69403 490572104071004
69404 490572104071005
69406 490572104071007
69407 490572104071008
69408 490572104071009
69409 490572104071010
69412 490572104071013
69413 490572104071014
69414 490572104071015
69415 490572104071016
69416 490572104071017
69417 490572104071018
69418 490572104071019
69420 490572104071021
69421 490572104071022
69422 490572104071023
69424 490572104072000
69427 490572104072003
69428 490572104072004
69439 490572104072015
69441 490572104072017
69443 490572104072019
69444 490572104072020
69445 490572104072021
69449 490572104072025
69450 490572104072026
69451 490572104072027
69453 490572104072029
69454 490572104072030
69455 490572104072031
69456 490572104072032
69457 490572104072033
69462 490572104072038
69463 490572104072039
69464 490572104072040
69465 490572104072041
69467 490572104072043
69468 490572104072044
69469 490572104072045
69470 490572104072046
69471 490572104072047
69473 490572104073000
69474 490572104073001
69477 490572104073004
69479 490572104073006
69485 490572104073012
69489 490572104073016
69490 490572104073017
69491 490572104073018
69492 490572104073019
69493 490572104073020
69494 490572104073021
69499 490572104073026
69503 490572104073030
69504 490572104073031
69505 490572104073032
69507 490572104073034
69508 490572104073035
69509 490572104073036
69510 490572104073037
69511 490572104073038
69513 490572104073040
69514 490572104073041
69515 490572104081000
69516 490572104081001
69517 490572104081002
69518 490572104081003
69519 490572104081004
69520 490572104081005
69521 490572104081006
69522 490572104081007
69523 490572104081008
69524 490572104081009
69525 490572104081010
69526 490572104081011
69528 490572104081013
69529 490572104081014
69530 490572104081015
69531 490572104081016
69532 490572104081017
69534 490572104081019
69535 490572104081020
69537 490572104081022
69539 490572104081024
69541 490572104081026
69542 490572104081027
69543 490572104081028
69546 490572104081031
69547 490572104081032
69548 490572104081033
69549 490572104081034
69550 490572104081035
69552 490572104081037
69553 490572104081038
69554 490572104081039
69556 490572104081041
69557 490572104081042
69558 490572104081043
69559 490572104081044
69560 490572104081045
69562 490572104081047
69563 490572104081048
69564 490572104081049
69565 490572104081050
69566 490572104081051
69567 490572104081052
69569 490572104081054
69570 490572104081055
69572 490572104081057
69573 490572104081058
69574 490572104081059
69575 490572104081060
69577 490572104081062
69578 490572104081063
69579 490572104081064
69581 490572104081066
69583 490572104081068
69584 490572104081069
69585 490572104081070
69587 490572104081072
69588 490572104081073
69590 490572104081075
69591 490572104082000
69592 490572104082001
69593 490572104082002
69595 490572104082004
69598 490572104082007
69600 490572104082009
69601 490572104082010
69602 490572104082011
69603 490572104082012
69605 490572104082014
69606 490572104082015
69608 490572104082017
69609 490572104082018
69610 490572104082019
69611 490572104082020
69612 490572104082021
69614 490572104082023
69615 490572104082024
69616 490572104082025
69617 490572104082026
69618 490572104082027
69619 490572104082028
69620 490572104082029
69621 490572104082030
69622 490572104082031
69623 490572104082032
69624 490572104082033
69625 490572104082034
69626 490572104082035
69627 490572104082036
69628 490572105081000
69631 490572105081003
69632 490572105081004
69639 490572105081011
69640 490572105081012
69641 490572105081013
69644 490572105081016
69645 490572105081017
69646 490572105081018
69647 490572105081019
69648 490572105081020
69650 490572105081022
69651 490572105081023
69652 490572105081024
69653 490572105091000
69654 490572105091001
69655 490572105091002
69656 490572105091003
69659 490572105091006
69661 490572105091008
69663 490572105091010
69667 490572105091014
69671 490572105091018
69672 490572105091019
69674 490572105091021
69675 490572105091022
69676 490572105091023
69678 490572105091025
69680 490572105092000
69681 490572105092001
69684 490572105092004
69686 490572105092006
69696 490572105092016
69698 490572105093000
69705 490572105093007
69718 490572105101000
69720 490572105101002
69722 490572105101004
69733 490572105101015
69738 490572105101020
69739 490572105101021
69740 490572105101022
69742 490572105102000
69743 490572105102001
69747 490572105102005
69759 490572105111000
69760 490572105111001
69761 490572105111002
69763 490572105111004
69764 490572105111005
69765 490572105111006
69766 490572105111007
69767 490572105111008
69769 490572105111010
69770 490572105111011
69771 490572105111012
69774 490572105111015
69775 490572105111016
69777 490572105111018
69779 490572105111020
69780 490572105111021
69785 490572105111026
69787 490572105111028
69788 490572105111029
69790 490572105111031
69793 490572105111034
69795 490572105111036
69796 490572105111037
69797 490572105111038
69798 490572105112000
69806 490572105112008
69808 490572105112010
69809 490572105112011
69810 490572105112012
69811 490572105112013
69812 490572105112014
69813 490572105112015
69814 490572105112016
69815 490572105112017
69816 490572105112018
69817 490572105112019
69819 490572105112021
69824 490572105112026
69828 490572105121000
69829 490572105121001
69830 490572105121002
69831 490572105121003
69832 490572105121004
69835 490572105121007
69836 490572105121008
69837 490572105121009
69838 490572105121010
69841 490572105121013
69846 490572105121018
69847 490572105121019
69848 490572105121020
69849 490572105121021
69856 490572105121028
69857 490572105121029
69858 490572105121030
69859 490572105121031
69860 490572105121032
69861 490572105121033
69865 490572105121037
69866 490572105122000
69867 490572105122001
69868 490572105122002
69869 490572105122003
69874 490572105122008
69878 490572105122012
69879 490572105122013
69880 490572105122014
69883 490572105123000
69884 490572105123001
69885 490572105123002
69887 490572105123004
69888 490572105123005
69889 490572105123006
69894 490572105123011
69895 490572105123012
69896 490572105123013
69897 490572105123014
69904 490572105123021
69914 490572105123031
69915 490572105123032
69916 490572105123033
69919 490572105131000
69920 490572105131001
69933 490572105131014
69934 490572105131015
69935 490572105131016
69939 490572105132000
69944 490572105132005
69945 490572105132006
69949 490572105132010
69950 490572105132011
69956 490572105132017
69957 490572105132018
69960 490572105133000
69961 490572105133001
69963 490572105133003
69964 490572105133004
69965 490572105133005
69966 490572105133006
69967 490572105133007
69969 490572105133009
69970 490572105133010
69976 490572105133016
69977 490572105133017
69982 490572105134004
69986 490572105134008
69995 490572105134017
69996 490572105141000
69997 490572105141001
70000
70000 490572105141004
70001 490572105141005
70002 490572105141006
70006 490572105141010
70007 490572105141011
70008 490572105141012
70010 490572105141014
70011 490572105141015
70012 490572105141016
70013 490572105141017
70014 490572105141018
70015 490572105141019
70016 490572105141020
70018 490572105142000
70021 490572105142003
70027 490572105142009
70028 490572105142010
70029 490572105142011
70032 490572105142014
70036 490572105142018
70038 490572105142020
70039 490572105142021
70045 490572105142027
70046 490572105142028
70049 490572105142031
70050 490572105142032
70052 490572105143000
70053 490572105143001
70054 490572105143002
70057 490572105143005
70070 490572105143018
70071 490572105143019
70072 490572105151000
70074 490572105151002
70076 490572105151004
70079 490572105151007
70080 490572105151008
70086 490572105151014
70089 490572105151017
70090 490572105151018
70091 490572105151019
70094 490572105151022
70096 490572105151024
70097 490572105151025
70099 490572105151027
70100 490572105151028
70101 490572105151029
70102 490572105151030
70104 490572105151032
70105 490572105151033
70106 490572105151034
70107 490572105151035
70108 490572105151036
70109 490572105151037
70115 490572105151043
70117 490572105151045
70118 490572105152000
70119 490572105152001
70121 490572105152003
70122 490572105152004
70123 490572105152005
70124 490572105152006
70127 490572105152009
70128 490572105152010
70129 490572105152011
70130 490572105152012
70132 490572105152014
70133 490572105152015
70134 490572105152016
70135 490572105152017
70136 490572105152018
70138 490572105152020
70144 490572105161000
70145 490572105161001
70147 490572105161003
70148 490572105161004
70149 490572105161005
70150 490572105161006
70152 490572105161008
70153 490572105161009
70154 490572105161010
70155 490572105161011
70156 490572105161012
70157 490572105161013
70158 490572105161014
70159 490572105161015
70160 490572105161016
70161 490572105161017
70163 490572105161019
70164 490572105161020
70165 490572105161021
70166 490572105161022
70167 490572105161023
70168 490572105161024
70169 490572105161025
70170 490572105161026
70171 490572105161027
70175 490572105161031
70176 490572105161032
70177 490572105161033
70178 490572105161034
70180 490572105162000
70181 490572105162001
70182 490572105162002
70184 490572105162004
70185 490572105162005
70186 490572105162006
70187 490572105162007
70188 490572105162008
70190 490572105162010
70191 490572105162011
70192 490572105162012
70194 490572105162014
70195 490572105162015
70196 490572105162016
70197 490572105162017
70198 490572105163000
70199 490572105163001
70200 490572105163002
70201 490572105163003
70202 490572105163004
70203 490572105163005
70204 490572105163006
70209 490572105163011
70210 490572105163012
70213 490572105163015
70214 490572105163016
70215 490572105163017
70216 490572105163018
70217 490572105163019
70220 490572105163022
70221 490572105163023
70222 490572105163024
70224 490572105163026
70225 490572105163027
70226 490572105163028
70228 490572105163030
70229 490572105171000
70233 490572105171004
70234 490572105171005
70235 490572105171006
70240 490572105171011
70244 490572105171015
70245 490572105171016
70247 490572105171018
70248 490572105171019
70250 490572105171021
70251 490572105171022
70252 490572105171023
70253 490572105171024
70254 490572105171025
70256 490572105171027
70257 490572105171028
70258 490572105171029
70259 490572105172000
70260 490572105172001
70263 490572105172004
70264 490572105172005
70266 490572105172007
70267 490572105172008
70270 490572105172011
70271 490572105172012
70273 490572105172014
70275 490572105172016
70276 490572105172017
70277 490572105172018
70279 490572105172020
70280 490572105172021
70282 490572105172023
70284 490572105172025
70287 490572105172028
70288 490572105172029
70289 490572105172030
70291 490572105172032
70293 490572105172034
70296 490572105172037
70297 490572105172038
70298 490572105181000
70299 490572105181001
70300 490572105181002
70301 490572105181003
70302 490572105181004
70303 490572105181005
70304 490572105181006
70305 490572105181007
70306 490572105181008
70307 490572105181009
70308 490572105181010
70313 490572105181015
70314 490572105181016
70315 490572105181017
70316 490572105181018
70319 490572105181021
70320 490572105181022
70321 490572105181023
70325 490572105181027
70326 490572105181028
70328 490572105181030
70331 490572105181033
70333 490572105181035
70334 490572105181036
70335 490572105181037
70336 490572105181038
70337 490572105181039
70338 490572105181040
70339 490572105181041
70343 490572105181045
70344 490572105181046
70345 490572105181047
70347 490572105181049
70348 490572105181050
70349 490572105181051
70350 490572105181052
70351 490572105181053
70352 490572105182000
70354 490572105182002
70355 490572105182003
70356 490572105182004
70357 490572105182005
70358 490572105182006
70359 490572105182007
70360 490572105182008
70361 490572105182009
70362 490572105182010
70363 490572105182011
70364 490572105182012
70365 490572105182013
70366 490572105182014
70367 490572105182015
70373 490572105182021
70375 490572105182023

70376 490572105182024
70381 490572105182029
70382 490572105182030
70386 490572105182034
70388 490572105182036
70389 490572105182037
70390 490572105182038
70391 490572105182039
70392 490572105182040
70393 490572105182041
70394 490572105182042
70395 490572105182043
70400 490572105182048
70404 490572105182052
70408 490572105182056
70409 490572105182057
70410 490572105182058
70411 490572105182059
70412 490572105182060
70414 490572105182062
70416 490572105182064
70417 490572105182065
70418 490572105182066
70419 490572105182067
70424 490572105182072
70425 490572105182073
70426 490572106001000
70427 490572106001001
70432 490572106001006
70433 490572106001007
70437 490572106001011
70446 490572106001020
70447 490572106001021
70451 490572106001025
70452 490572106001026
70453 490572106002000
70454 490572106002001
70456 490572106002003
70458 490572106002005
70461 490572106002008
70464 490572106002011
70465 490572106002012
70467 490572106002014
70468 490572106002015
70469 490572106002016
70474 490572106002021
70487 490572106003012
70495 490572106003020
70496 490572106003021
70498 490572106003023
70499 490572106004000
70503 490572106004004
70506 490572106004007
70510 490572106004011
70511 490572106005000
70515 490572106005004
70517 490572106005006
70518 490572106005007
70519 490572106005008
70520 490572106005009
70524 490572107011000
70532 490572107011008
70537 490572107011013
70542 490572107011018
70544 490572107011020
70545 490572107011021
70546 490572107011022
70547 490572107011023
70552 490572107011028
70554 490572107011030
70556 490572107012000
70557 490572107012001
70559 490572107012003
70560 490572107012004
70565 490572107012009
70566 490572107012010
70567 490572107012011
70568 490572107012012
70569 490572107012013
70572 490572107012016
70573 490572107012017
70574 490572107013000
70577 490572107013003
70581 490572107013007
70582 490572107013008
70584 490572107013010
70587 490572107013013
70588 490572107013014
70589 490572107014000
70595 490572107014006
70596 490572107014007
70597 490572107014008
70600 490572107014011
70604 490572107014015
70606 490572107014017
70607 490572107014018
70608 490572107014019
70609 490572107014020
70610 490572107031000
70611 490572107031001
70619 490572107031009
70620 490572107031010
70621 490572107031011
70622 490572107031012
70623 490572107032000
70625 490572107032002
70627 490572107032004
70633 490572107032010
70634 490572107032011
70635 490572107041000
70637 490572107041002
70638 490572107041003
70653 490572107041018
70654 490572107041019
70655 490572107041020
70657 490572107041022
70658 490572107041023
70659 490572107042000
70662 490572107042003
70664 490572107042005
70665 490572107042006
70666 490572107042007
70667 490572107042008
70668 490572107043000
70682 490572107043014
70685 490572107043017
70686 490572107043018
70688 490572107044000
70701 490572107044013
70704 490572107044016
70705 490572107044017
70706 490572107044018
70707 490572107044019
70708 490572107044020
70709 490572107044021
70710 490572107044022
70711 490572107045000
70713 490572107045002
70716 490572107045005
70717 490572107045006
70724 490572107045013
70725 490572108001000
70726 490572108001001
70727 490572108001002
70729 490572108001004
70732 490572108001007
70733 490572108001008
70734 490572108001009
70738 490572108001013
70744 490572108002002
70748 490572108002006
70749 490572108002007
70753 490572108002011
70754 490572108002012
70755 490572108002013
70756 490572108002014
70757 490572108002015
70758 490572108002016
70759 490572108003000
70761 490572108003002
70762 490572108003003
70763 490572108003004
70766 490572108003007
70767 490572108003008
70768 490572108003009
70769 490572108003010
70770 490572108003011
70771 490572108003012
70774 490572109001001
70777 490572109001004
70778 490572109001005
70782 490572109001009
70783 490572109001010
70788 490572109001015
70790 490572109001017
70791 490572109001018
70793 490572109001020
70794 490572109001021
70795 490572109001022
70796 490572109002000
70802 490572109002006
70803 490572109002007
70806 490572109002010
70807 490572109002011
70808 490572109002012
70814 490572109002018
70815 490572109002019
70819 490572109002023
70823 490572109003003
70825 490572109003005
70826 490572109003006
70827 490572109003007
70828 490572109003008
70830 490572109003010
70833 490572109003013
70836 490572109003016
70838 490572109003018
70839 490572109003019
70840 490572109003020
70841 490572109003021
70842 490572109003022
70845 490572109004002
70846 490572109004003
70847 490572109004004
70848 490572109004005
70849 490572109004006
70851 490572109004008
70852 490572109004009
70855 490572109004012
70858 490572109004015
70859 490572109004016
70860 490572109005000
70861 490572109005001
70862 490572109005002
70863 490572109005003
70865 490572109005005
70869 490572109005009
70870 490572109005010
70872 490572109005012
70873 490572109005013
70875 490572110001000
70876 490572110001001
70879 490572110001004
70887 490572110001012
70915 490572110001040
70918 490572110002000
70919 490572110002001
70921 490572110002003
70925 490572110002007
70928 490572110002010
70930 490572110002012
70931 490572110002013
70932 490572110002014
70933 490572110002015
70942 490572110002024
70944 490572110002026
70945 490572111001000
70946 490572111001001
70948 490572111001003
70950 490572111001005
70951 490572111001006
70952 490572111001007
70954 490572111002000
70960 490572111002006
70963 490572111002009
70964 490572111002010
70965 490572111002011
70966 490572111002012
70967 490572111002013
70968 490572111002014
70969 490572111002015
70970 490572111002016
70972 490572111003000
70977 490572111003005
70981 490572111003009
70982 490572111003010
70983 490572111003011
70985 490572111003013
70986 490572111003014
70987 490572111003015
70989 490572111003017
70990 490572111003018
70991 490572111004000
70992 490572111004001
70994 490572111004003
70999 490572111004008
71000
71000 490572111004009
71003 490572111004012
71004 490572111004013
71005 490572111005000
71006 490572111005001
71008 490572111005003
71014 490572111005009
71015 490572111005010
71018 490572111005013
71019 490572111005014
71020 490572111005015
71021 490572111005016
71022 490572111005017
71023 490572111005018
71024 490572112011000
71025 490572112011001
71028 490572112011004
71031 490572112011007
71034 490572112011010
71036 490572112011012
71037 490572112011013
71038 490572112011014
71040 490572112011016
71044 490572112011020
71045 490572112012000
71046 490572112012001
71051 490572112012006
71053 490572112012008
71055 490572112012010
71056 490572112013000
71057 490572112013001
71064 490572112013008
71065 490572112013009
71067 490572112013011
71073 490572112013017
71074 490572112013018
71075 490572112013019
71076 490572112013020
71081 490572112013025
71082 490572112013026
71084 490572112013028
71085 490572112013029
71086 490572112021000
71087 490572112021001
71089 490572112021003
71091 490572112021005
71095 490572112021009
71106 490572112022005
71111 490572112022010
71114 490572112022013
71115 490572112022014
71119 490572112022018
71121 490572112023000
71126 490572112023005
71127 490572112023006
71128 490572112023007
71130 490572112023009
71131 490572112023010
71134 490572112023013
71136 490572112023015
71137 490572112023016
71138 490572112023017
71144 490572112023023
71145 490572112023024
71146 490572112023025
71147 490572112023026
71148 490572112023027
71149 490572112023028
71150 490572112023029
71151 490572112023030
71152 490572112023031
71153 490572112023032
71154 490572112023033
71155 490572112023034
71169 490572112024013
71170 490572112024014
71171 490572112024015
71172 490572112024016
71175 490572112024019
71176 490572112024020
71177 490572112024021
71178 490572112024022
71179 490572112024023
71180 490572112025000
71181 490572112025001
71187 490572112025007
71191 490572112025011
71194 490572112025014
71195 490572112025015
71196 490572112025016
71199 490572112025019

In [5]:
# get features with no splits
arcpy.analysis.PairwiseDissolve(strTAZCB, "TAZ_CB_Dissolve", strGEOIDField, "CO_TAZID MIN;CO_TAZID COUNT", "MULTI_PART")

for lyr in m.listLayers("TAZ_CB_Dissolve"):
    lyrTAZCBDissolve = lyr
lyrTAZCBDissolve.definitionQuery = "COUNT_CO_TAZID = 1"

arcpy.management.CopyFeatures("TAZ_CB_Dissolve", "TAZ_CB_Eliminated_NoSplits")
arcpy.management.Delete("TAZ_CB_Dissolve")

In [7]:
# set layer definition for TAZ
for lyr in m.listLayers(strTAZLayerName):
    lyrTAZ = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "CO_FIPS IN (49,35,11,57)"
        display('TAZ set to WF Area excluding Box Elder')

'TAZ set to WF Area excluding Box Elder'

In [17]:
#for lyr in m.listLayers():
#    print(lyr.name)

import arcgisscripting, os
gp = arcgisscripting.create(9.3)

gp.workspace = 'Census Block to TAZ.gdb'
fcs = gp.ListFeatureClasses()

strAll = ""

for fc in fcs:
    if "CB_Eliminated" in fc:
        strAll += fc + ";"
        print (fc)

print(strAll)

TAZ_CB_Eliminated_0
TAZ_CB_Eliminated_2000
TAZ_CB_Eliminated_4000
TAZ_CB_Eliminated_6000
TAZ_CB_Eliminated_8000
TAZ_CB_Eliminated_10000
TAZ_CB_Eliminated_12000
TAZ_CB_Eliminated_14000
TAZ_CB_Eliminated_16000
TAZ_CB_Eliminated_18000
TAZ_CB_Eliminated_20000
TAZ_CB_Eliminated_22000
TAZ_CB_Eliminated_24000
TAZ_CB_Eliminated_26000
TAZ_CB_Eliminated_28000
TAZ_CB_Eliminated_30000
TAZ_CB_Eliminated_32000
TAZ_CB_Eliminated_34000
TAZ_CB_Eliminated_36000
TAZ_CB_Eliminated_37000
TAZ_CB_Eliminated_38000
TAZ_CB_Eliminated_39000
TAZ_CB_Eliminated_40000
TAZ_CB_Eliminated_41000
TAZ_CB_Eliminated_42000
TAZ_CB_Eliminated_43000
TAZ_CB_Eliminated_44000
TAZ_CB_Eliminated_45000
TAZ_CB_Eliminated_46000
TAZ_CB_Eliminated_47000
TAZ_CB_Eliminated_48000
TAZ_CB_Eliminated_49000
TAZ_CB_Eliminated_50000
TAZ_CB_Eliminated_51000
TAZ_CB_Eliminated_52000
TAZ_CB_Eliminated_53000
TAZ_CB_Eliminated_54000
TAZ_CB_Eliminated_55000
TAZ_CB_Eliminated_56000
TAZ_CB_Eliminated_57000
TAZ_CB_Eliminated_58000
TAZ_CB_Eliminated_59000
TAZ_CB_Eliminated_60000
TAZ_CB_Eliminated_61000
TAZ_CB_Eliminated_62000
TAZ_CB_Eliminated_63000
TAZ_CB_Eliminated_64000
TAZ_CB_Eliminated_65000
TAZ_CB_Eliminated_66000
TAZ_CB_Eliminated_67000
TAZ_CB_Eliminated_68000
TAZ_CB_Eliminated_69000
TAZ_CB_Eliminated_70000
TAZ_CB_Eliminated_71000
TAZ_CB_Eliminated_72000
TAZ_CB_Eliminated_73000
TAZ_CB_Eliminated_NoSplits
TAZ_CB_Eliminated_0;TAZ_CB_Eliminated_2000;TAZ_CB_Eliminated_4000;TAZ_CB_Eliminated_6000;TAZ_CB_Eliminated_8000;TAZ_CB_Eliminated_10000;TAZ_CB_Eliminated_12000;TAZ_CB_Eliminated_14000;TAZ_CB_Eliminated_16000;TAZ_CB_Eliminated_18000;TAZ_CB_Eliminated_20000;TAZ_CB_Eliminated_22000;TAZ_CB_Eliminated_24000;TAZ_CB_Eliminated_26000;TAZ_CB_Eliminated_28000;TAZ_CB_Eliminated_30000;TAZ_CB_Eliminated_32000;TAZ_CB_Eliminated_34000;TAZ_CB_Eliminated_36000;TAZ_CB_Eliminated_37000;TAZ_CB_Eliminated_38000;TAZ_CB_Eliminated_39000;TAZ_CB_Eliminated_40000;TAZ_CB_Eliminated_41000;TAZ_CB_Eliminated_42000;TAZ_CB_Eliminated_43000;TAZ_CB_Eliminated_44000;TAZ_CB_Eliminated_45000;TAZ_CB_Eliminated_46000;TAZ_CB_Eliminated_47000;TAZ_CB_Eliminated_48000;TAZ_CB_Eliminated_49000;TAZ_CB_Eliminated_50000;TAZ_CB_Eliminated_51000;TAZ_CB_Eliminated_52000;TAZ_CB_Eliminated_53000;TAZ_CB_Eliminated_54000;TAZ_CB_Eliminated_55000;TAZ_CB_Eliminated_56000;TAZ_CB_Eliminated_57000;TAZ_CB_Eliminated_58000;TAZ_CB_Eliminated_59000;TAZ_CB_Eliminated_60000;TAZ_CB_Eliminated_61000;TAZ_CB_Eliminated_62000;TAZ_CB_Eliminated_63000;TAZ_CB_Eliminated_64000;TAZ_CB_Eliminated_65000;TAZ_CB_Eliminated_66000;TAZ_CB_Eliminated_67000;TAZ_CB_Eliminated_68000;TAZ_CB_Eliminated_69000;TAZ_CB_Eliminated_70000;TAZ_CB_Eliminated_71000;TAZ_CB_Eliminated_72000;TAZ_CB_Eliminated_73000;TAZ_CB_Eliminated_NoSplits;

In [18]:
# merge all eliminated layers

arcpy.management.Merge(strAll, "TAZ_CB_Combined")

In [20]:
myFCls = "TAZ_CB_Combined"
arcpy.AddField_management(myFCls, "UNIQ_ID", "LONG")
dataDict = {}
i = 1
updateRows = arcpy.da.UpdateCursor(myFCls, ["OBJECTID", "UNIQ_ID"])
for updateRow in updateRows:
    if updateRow[0] not in dataDict:
        dataDict[updateRow[0]] = i
        i+=1
    updateRow[1] = dataDict[updateRow[0]]
    updateRows.updateRow(updateRow)
del updateRow, updateRows

In [21]:
# looks like eliminate function didn't carry over GEOID and TAZID fields correctly.... they are null
# so, create points in polygon and join back to TAZ_CB feature class

arcpy.management.FeatureToPoint("TAZ_CB_Combined", "TAZ_CB_Combined_FeatureToPoint", "INSIDE")

In [10]:
# spatial join done manually to TAZ_CB_Combined_PointToOrig

# export to table
arcpy.conversion.TableToTable("TAZ_CB_Combined_FeatureToPoint_BackToTAZCB", "Census Block to TAZ.gdb", "TAZ_CB_Combined_FeatureToPoint_BackToTAZCB_Table")

In [12]:
# join table back to polygons
# done manually since wasn't working
#arcpy.management.AddJoin("TAZ_CB_Combined", "UNIQ_ID", "TAZ_CB_Combined_FeatureToPoint_BackToTAZCB_Table", "UNIQ_ID")

arcpy.management.CopyFeatures("TAZ_CB_Combined", "TAZ_CB_Combined_withTAZGEOids")

In [14]:
# for missed ones found in Weber county
# manually selected and disolved TAZ_CB by GEOID20
sdfMissed = pd.DataFrame.spatial.from_featureclass("TAZ_CB_Missed_Dissolved")

# toggle for import... since it's such a beast and you don't want to accidently run it
bRunImport = True

if bRunImport:

    bFirst = True
    #create empty layer for appending
    lyrTAZCB.definitionQuery = strGEOIDField + " = '' AND CO_TAZID = 0"
    arcpy.management.CopyFeatures(strTAZCB, "TAZ_CB_Eliminated_Missed")

    for index, row in sdfMissed.iterrows():

        # create layer with only splits from a given census block so that eliminates area always back to original census block and not an adjancent
        lyrTAZCB.definitionQuery = strGEOIDField + " = '" + row[strGEOIDField] + "'"

        print (index, row[strGEOIDField])

        arcpy.management.CopyFeatures(strTAZCB, "_temp")

        #select and eliminate pieces with area less than threshold
        arcpy.management.SelectLayerByAttribute("_temp", "NEW_SELECTION", "Shape_Area < " + str(areaThreshold))

        arcpy.management.Eliminate("_temp", "_temp_eliminated", "LENGTH")

        arcpy.management.Merge("TAZ_CB_Eliminated_Missed;_temp_eliminated", r"_temp_merged", 'CO_TAZID "CO_TAZID" true true false 4 Long 0 0,First,#,TAZ_CB_Eliminated_Missed,CO_TAZID,-1,-1,_temp_eliminated,CO_TAZID,-1,-1;GEOID20 "GEOID20" true true false 15 Text 0 0,First,#,TAZ_CB_Eliminated_Missed,GEOID20,0,15,_temp_eliminated,GEOID20,0,15;Shape_Length "Shape_Length" false true true 8 Double 0 0,First,#,TAZ_CB_Eliminated_Missed,Shape_Length,-1,-1,_temp_eliminated,Shape_Length,-1,-1;Shape_Area "Shape_Area" false true true 8 Double 0 0,First,#,TAZ_CB_Eliminated_Missed,Shape_Area,-1,-1,_temp_eliminated,Shape_Area,-1,-1', "NO_SOURCE_INFO")

        arcpy.management.Delete("TAZ_CB_Eliminated_Missed")

        arcpy.management.CopyFeatures("_temp_merged", "TAZ_CB_Eliminated_Missed")

        arcpy.management.Delete("_temp_merged")

0
1 490572103031019
2 490572103031020
3 490572103031021
4 490572103031023
5 490572103031025
6 490572103031026
7 490572103031027
8 490572103031029
9 490572103031030
10 490572103031031
11 490572103031032
12 490572103031034
13 490572103031036
14 490572103031037
15 490572103031038
16 490572103031039
17 490572103032003
18 490572103032007
19 490572103032009
20 490572103032011
21 490572103032012
22 490572103032014
23 490572103032015
24 490572103032017
25 490572103032019
26 490572103032020
27 490572103032021
28 490572103032022
29 490572103032023
30 490572103032025
31 490572103033000
32 490572103033002
33 490572103033003
34 490572103033004
35 490572103033005
36 490572103033006
37 490572103033007
38 490572103033008
39 490572103033009
40 490572103033010
41 490572103033015
42 490572103033016
43 490572103033018
44 490572103033019
45 490572103033020
46 490572103033021
47 490572103034001
48 490572103034002
49 490572103034003
50 490572103034004
51 490572103034005
52 490572103034008
53 490572103034009
54 490572103034010
55 490572103034011
56 490572103034012
57 490572103034015
58 490572103034017
59 490572103034019
60 490572103041000
61 490572103041001
62 490572103041002
63 490572103041003
64 490572103041005
65 490572103041006
66 490572103041007
67 490572103041008
68 490572103041009
69 490572103041010
70 490572103041011
71 490572103041012
72 490572103041013
73 490572103041014
74 490572103041016
75 490572103041017
76 490572103041018
77 490572103041019
78 490572103041020
79 490572103041021
80 490572103041022
81 490572103041023
82 490572103042000
83 490572103042001

In [15]:
# merge all eliminated layers

arcpy.management.Merge("TAZ_CB_Eliminated_Missed;TAZ_CB_Combined_withTAZGEOids", "TAZ_CB_Combined_withMissed")

In [ ]:
# manullay rename TAZ_CB_Combined to TAZ_CB_Combined_OLD and TAZ_CB_Combined_withMissed to TAZ_CB_Combined

In [16]:
#replace nulls with zeros
fieldObs = arcpy.ListFields('TAZ_CB_Combined')  
fieldNames = []  
for field in fieldObs:  
    fieldNames.append(field.name)  
del fieldObs  
fieldCount = len(fieldNames)  

with arcpy.da.UpdateCursor('TAZ_CB_Combined', fieldNames) as curU:  
    for row in curU:  
        rowU = row  
        for field in range(fieldCount):  
            if rowU[field] == None:  
                rowU[field] = "0"  
      
      
        curU.updateRow(rowU)

del curU

In [17]:
# # create new TAZID field and populate with correct value... adding the two fields, since one or other is always 0
# arcpy.management.AddField("TAZ_CB_Combined", "CO_TAZID_Combined", "INTEGER")
# arcpy.CalculateField_management("TAZ_CB_Combined", "CO_TAZID_Combined", "!MIN_CO_TAZID! + !CO_TAZID!", "PYTHON", "")
# 
# # add _shapearea field since sdf can't see Shape.Area field
# arcpy.management.AddField("TAZ_CB_Combined", "_shapearea", "DOUBLE")
# arcpy.CalculateField_management("TAZ_CB_Combined", "_shapearea", "!shape.area!", "PYTHON", "")
# 
# # delete unneeded fields
# arcpy.management.DeleteField("TAZ_CB_Combined","MIN_CO_TAZID")
# arcpy.management.DeleteField("TAZ_CB_Combined","CO_TAZID")
# arcpy.management.DeleteField("TAZ_CB_Combined","COUNT_CO_TAZID")
# 
# # get back to CO_TAZID name
# arcpy.management.AddField("TAZ_CB_Combined", "CO_TAZID", "INTEGER")
# arcpy.CalculateField_management("TAZ_CB_Combined", "CO_TAZID", "!CO_TAZID_Combined!", "PYTHON", "")
# arcpy.management.DeleteField("TAZ_CB_Combined","CO_TAZID_Combined")

In [25]:
sdfTAZCB_Clean = pd.DataFrame.spatial.from_featureclass("TAZ_CB_Combined")
display(sdfTAZCB_Clean)

       OBJECTID  ...                                              SHAPE
0             1  ...  {"rings": [[[424307.02049999963, 4548771.3862]...
1             2  ...  {"rings": [[[428230.7879999997, 4551003.972300...
2             3  ...  {"rings": [[[424302.21970000025, 4549643.15399...
3             4  ...  {"rings": [[[424326.8783, 4551043.8178], [4243...
4             5  ...  {"rings": [[[423631.1037999997, 4550951.9011],...
...         ...  ...                                                ...
36475     36514  ...  {"rings": [[[418913.7887000004, 4573306.1085],...
36476     36515  ...  {"rings": [[[413963.74980000034, 4576631.8826]...
36477     36516  ...  {"rings": [[[414483.13269999996, 4575284.56959...
36478     36517  ...  {"rings": [[[414874, 4574460.199999999], [4148...
36479     36518  ...  {"rings": [[[415424.83440000005, 4573314.2892]...

[36480 rows x 5 columns]

In [32]:
# get rid of duplicate index
#if sdfTAZCB_Clean.index.is_unique==False:
#    sdfTAZCB_Clean = sdfTAZCB_Clean.reset_index()
#    sdfTAZCB_Clean = sdfTAZCB_Clean.drop(columns=('index'))
#    display(sdfTAZCB_Clean)

In [26]:
# create numbering of pieces base on a cumulative count
sdfTAZCB_Clean['PIECECNT'] = sdfTAZCB_Clean.groupby([strGEOIDField]).cumcount()+1
display(sdfTAZCB_Clean)

       OBJECTID  ...  PIECECNT
0             1  ...         1
1             2  ...         2
2             3  ...         1
3             4  ...         2
4             5  ...         1
...         ...  ...       ...
36475     36514  ...         1
36476     36515  ...         1
36477     36516  ...         1
36478     36517  ...         2
36479     36518  ...         3

[36480 rows x 6 columns]

In [30]:
sdfTAZCB_Clean.columns

Index(['OBJECTID', 'CO_TAZID', 'GEOID20', '_shapearea', 'SHAPE', 'PIECECNT'], dtype='object')

In [28]:
# for IDs determin which GEOIDS are not split
dfGEOID20s_NumPieces = sdfTAZCB_Clean.groupby([strGEOIDField],as_index=False).agg(NUMPIECES=('CO_TAZID','count'))
dfGEOID20s_NumPieces

               GEOID20  NUMPIECES
0      490111251021000          2
1      490111251021001          2
2      490111251021002          1
3      490111251021003          3
4      490111251021004          2
...                ...        ...
31773  490572112025022          1
31774  490572112025023          1
31775  490572112025024          1
31776  490572112025025          1
31777  490572112025026          1

[31778 rows x 2 columns]

In [35]:
#dfGEOID10s_NumPieces[dfGEOID10s_NumPieces[strGEOIDField]=='490351128051003']

In [31]:
sdfTAZCB_withNumPieces = pd.DataFrame.merge(sdfTAZCB_Clean,dfGEOID20s_NumPieces,on=strGEOIDField,how='left')
sdfTAZCB_withNumPieces

       OBJECTID  CO_TAZID  ... PIECECNT  NUMPIECES
0             1    110118  ...        1          2
1             2    110322  ...        2          2
2             3    110118  ...        1          2
3             4    110322  ...        2          2
4             5    110118  ...        1          1
...         ...       ...  ...      ...        ...
36475     36514    570116  ...        1          1
36476     36515    570092  ...        1          1
36477     36516    570091  ...        1          3
36478     36517    570099  ...        2          3
36479     36518    570104  ...        3          3

[36480 rows x 7 columns]

In [32]:
# setup unique id which is combination of GEOID and the split number created when splitting by TAZs
sdfTAZCB_withNumPieces['BLOCKSPLITID'] = ""
sdfTAZCB_withNumPieces.loc[(sdfTAZCB_withNumPieces['NUMPIECES']==1), 'BLOCKSPLITID'] = sdfTAZCB_withNumPieces[strGEOIDField] + '_0'
sdfTAZCB_withNumPieces.loc[(sdfTAZCB_withNumPieces['NUMPIECES']!=1), 'BLOCKSPLITID'] = sdfTAZCB_withNumPieces[strGEOIDField] + '_' + sdfTAZCB_withNumPieces['PIECECNT'].astype(str)

display(sdfTAZCB_withNumPieces)
display(sdfTAZCB_withNumPieces[sdfTAZCB_withNumPieces[strGEOIDField]=='490351128051003'])

sdfTAZCB_withNumPieces['SMALL'] = 0
sdfTAZCB_withNumPieces.loc[sdfTAZCB_withNumPieces['_shapearea']<areaThreshold, 'SMALL'] = 1

#remove columns no longer needed
sdfTAZCB_Final = sdfTAZCB_withNumPieces[['BLOCKSPLITID',strGEOIDField,'CO_TAZID','SMALL','_shapearea']]

display(sdfTAZCB_Final)

       OBJECTID  CO_TAZID  ... NUMPIECES       BLOCKSPLITID
0             1    110118  ...         2  490111251021000_1
1             2    110322  ...         2  490111251021000_2
2             3    110118  ...         2  490111251021001_1
3             4    110322  ...         2  490111251021001_2
4             5    110118  ...         1  490111251021002_0
...         ...       ...  ...       ...                ...
36475     36514    570116  ...         1  490572103041023_0
36476     36515    570092  ...         1  490572103042000_0
36477     36516    570091  ...         3  490572103042001_1
36478     36517    570099  ...         3  490572103042001_2
36479     36518    570104  ...         3  490572103042001_3

[36480 rows x 8 columns]

       OBJECTID  CO_TAZID  ... NUMPIECES       BLOCKSPLITID
25166     25205    351033  ...         1  490351128051003_0

[1 rows x 8 columns]

            BLOCKSPLITID          GEOID20  CO_TAZID  SMALL    _shapearea
0      490111251021000_1  490111251021000    110118      0  2.189653e+05
1      490111251021000_2  490111251021000    110322      0  4.427046e+06
2      490111251021001_1  490111251021001    110118      0  4.324561e+05
3      490111251021001_2  490111251021001    110322      0  4.376192e+05
4      490111251021002_0  490111251021002    110118      0  1.596237e+04
...                  ...              ...       ...    ...           ...
36475  490572103041023_0  490572103041023    570116      0  7.407797e+04
36476  490572103042000_0  490572103042000    570092      0  2.420393e+05
36477  490572103042001_1  490572103042001    570091      0  7.306347e+05
36478  490572103042001_2  490572103042001    570099      0  1.049905e+06
36479  490572103042001_3  490572103042001    570104      1  4.443191e-01

[36480 rows x 5 columns]

In [33]:
sdfTAZCB_Final[sdfTAZCB_Final[strGEOIDField]=='490351128051003']

            BLOCKSPLITID          GEOID20  CO_TAZID  SMALL    _shapearea
25166  490351128051003_0  490351128051003    351033      0  12697.002869

In [40]:
# SECOND ROUND

In [34]:
# group and get all blocks with at least two and one with area less than threshhold
sdfTazCb_gt1 = sdfTAZCB_Final.groupby([strGEOIDField],as_index=False).agg(COUNT=("CO_TAZID","count"),NUMSMALL=('SMALL','sum'))
sdfTazCb_gt1 = sdfTazCb_gt1[(sdfTazCb_gt1['COUNT']>1)]
sdfTazCb_gt1wSmall = sdfTazCb_gt1[(sdfTazCb_gt1['NUMSMALL']>0)]
sdfTazCb_gt1wSmall = sdfTazCb_gt1wSmall[sdfTazCb_gt1wSmall[strGEOIDField]!=""]
sdfTazCb_gt1wSmall

               GEOID20  COUNT  NUMSMALL
105    490111251032001      2         1
109    490111251032005      3         1
186    490111251041001      2         1
197    490111251041012      2         1
236    490111251042023      3         1
...                ...    ...       ...
31499  490572110002010      2         1
31556  490572111003013      2         1
31576  490572111005000      2         2
31708  490572112023016      2         1
31722  490572112023030      2         1

[1206 rows x 3 columns]

In [35]:
strCBS = "Census_Block_Splits"

arcpy.management.CopyFeatures("TAZ_CB_Combined", strCBS)

for lyr in m.listLayers(strCBS):
    lyrCBS = lyr


lyrCBS.definitionQuery = ""

In [52]:
# toggle for import... since it's such a beast
bRun = False


if bRun:
    
    lyrCBS.definitionQuery = strGEOIDField + " = 'X' AND CO_TAZID = 0"
    arcpy.management.CopyFeatures(strCBS, "TAZ_CBS_Eliminated")

    for index, row in sdfTazCb_gt1wSmall.iterrows():

        if index < 50000:
            # create layer with only splits from a given census block so that eliminates area always back to original census block and not an adjancent
            lyrCBS.definitionQuery = strGEOIDField + " = '" + row[strGEOIDField] + "'"

            print (index, row[strGEOIDField])

            arcpy.management.CopyFeatures(strCBS, "_temp")

            #select and eliminate pieces with area less than threshold
            arcpy.management.SelectLayerByAttribute("_temp", "NEW_SELECTION", "Shape_Area < " + str(areaThreshold))

            arcpy.management.Eliminate("_temp", "_temp_eliminated", "LENGTH")

            arcpy.management.Merge("TAZ_CBS_Eliminated;_temp_eliminated", r"_temp_merged", 'CO_TAZID "CO_TAZID" true true false 4 Long 0 0,First,#,TAZ_CBS_Eliminated,CO_TAZID,-1,-1,_temp_eliminated,CO_TAZID,-1,-1;GEOID20 "GEOID20" true true false 15 Text 0 0,First,#,TAZ_CBS_Eliminated,GEOID20,0,15,_temp_eliminated,GEOID20,0,15;Shape_Length "Shape_Length" false true true 8 Double 0 0,First,#,TAZ_CBS_Eliminated,Shape_Length,-1,-1,_temp_eliminated,Shape_Length,-1,-1;Shape_Area "Shape_Area" false true true 8 Double 0 0,First,#,TAZ_CBS_Eliminated,Shape_Area,-1,-1,_temp_eliminated,Shape_Area,-1,-1', "NO_SOURCE_INFO")

            arcpy.management.Delete("TAZ_CBS_Eliminated")
            arcpy.management.CopyFeatures("_temp_merged", "TAZ_CBS_Eliminated")
            
arcpy.management.Delete("_temp")
arcpy.management.Delete("_temp_eliminated")
arcpy.management.Delete("_temp_merged")

105 490111251032001
109 490111251032005
186 490111251041001
197 490111251041012
236 490111251042023
332 490111253012001
378 490111253014001
397 490111253041000
424 490111253042010
455 490111253042041
456 490111253043000
495 490111253051022
526 490111253053010
537 490111253054009
550 490111253061000
577 490111253061027
630 490111253071021
636 490111253072000
642 490111253072006
647 490111253072011
668 490111253073017
685 490111253074009
689 490111253074013
711 490111253074035
747 490111254072012
763 490111254073006
779 490111254074005
791 490111254074017
804 490111254082000
872 490111254083024
948 490111254102025
1001 490111254112020
1033 490111254121008
1074 490111254131020
1144 490111254142009
1190 490111254151028
1229 490111255011019
1281 490111255013017
1345 490111255031007
1424 490111257012005
1428 490111257013000
1431 490111257013003
1456 490111257021005
1483 490111257022019
1556 490111258014004
1564 490111258014012
1583 490111258041000
1616 490111258041033
1657 490111258044000
1733 490111258052025
1761 490111258071005
1776 490111258072001
1827 490111258093003
1851 490111258102000
1922 490111259053017
1986 490111259061040
2189 490111260013009
2208 490111260021002
2213 490111260021007
2234 490111260021028
2265 490111260023003
2289 490111260023027
2295 490111260023033
2309 490111261011000
2335 490111261011026
2398 490111261014000
2494 490111261061000
2515 490111261061021
2580 490111261071018
2584 490111261072001
2596 490111261072013
2712 490111262032020
2719 490111262032027
2830 490111262051031
2847 490111262051048
2897 490111262061013
3092 490111263041039
3099 490111263041046
3110 490111263041057
3136 490111263042011
3140 490111263042015
3229 490111263061018
3238 490111263061027
3268 490111263062024
3286 490111263062042
3314 490111263063027
3316 490111263063029
3320 490111263063033
3573 490111264062027
3655 490111265005018
3700 490111266002017
3721 490111266003015
3753 490111267002009
3756 490111267002012
3764 490111267002020
3798 490111267004016
3824 490111268013000
3946 490111269013013
3961 490111269015005
3975 490111269016008
3985 490111269016018
4031 490111269023013
4052 490111269025005
4112 490111270023018
4138 490111270024019
4171 490111270024052
4215 490111270031021
4272 490111270033008
4287 490111270033023
4292 490111270033028
4313 490111270033049
4317 490111270033053
4331 490111270051003
4418 490111270062010
4421 490111270062013
4424 490111270063002
4472 490111271002015
4507 490111271003018
4519 490111271004000
4614 490119800001038
4680 490351001001012
4706 490351001002007
4709 490351001002010
4710 490351001002011
4751 490351003062007
4753 490351003062009
4813 490351003081000
4814 490351003081001
4856 490351005002010
4886 490351005005003
4887 490351006001000
4901 490351006001014
4933 490351006004000
4948 490351006005000
4953 490351006005005
5006 490351008001009
5018 490351008003005
5090 490351010002043
5104 490351011011010
5143 490351011022014
5229 490351014011001
5284 490351015002004
5327 490351016003016
5341 490351017003000
5381 490351018003011
5382 490351019001000
5385 490351019001003
5386 490351019002000
5389 490351019002003
5393 490351019003003
5394 490351019004000
5397 490351019004003
5398 490351019004004
5400 490351020001001
5402 490351020001003
5409 490351020001010
5426 490351020002006
5433 490351020003004
5439 490351021001000
5440 490351021001001
5441 490351021001002
5442 490351021001003
5443 490351021002000
5444 490351021002001
5445 490351021002002
5446 490351021002003
5447 490351023001000
5452 490351023001005
5454 490351023002000
5455 490351023002001
5456 490351023002002
5457 490351023002003
5458 490351023003000
5459 490351023003001
5460 490351023003002
5469 490351025012000
5470 490351025012001
5471 490351025012002
5475 490351025012006
5476 490351025012007
5478 490351025012009
5479 490351025012010
5480 490351025012011
5481 490351025012012
5482 490351025012013
5489 490351025021001
5490 490351025021002
5491 490351025021003
5492 490351025021004
5500 490351025022007
5501 490351025022008
5502 490351025022009
5503 490351025022010
5516 490351026001012
5529 490351026002000
5546 490351026003002
5549 490351026003005
5551 490351026003007
5569 490351027011003
5623 490351027013026
5643 490351027021013
5655 490351027022000
5680 490351028011009
5685 490351028011014
5688 490351028011017
5705 490351028012016
5734 490351028021000
5739 490351028021005
5744 490351028021010
5747 490351028021013
5759 490351028021025
5761 490351028022000
5790 490351028023013
5806 490351029001015
5821 490351029001030
5823 490351029001032
5826 490351029001035
5829 490351029001038
5841 490351029002011
5845 490351029002015
5858 490351029002028
5859 490351029002029
5866 490351029003005
5867 490351029003006
5873 490351029003012
5876 490351029003015
5877 490351030001000
5897 490351030001020
5922 490351030002018
5942 490351031001018
5963 490351031002020
5998 490351032001017
6023 490351032002023
6042 490351032003017
6074 490351033002021
6094 490351033003018
6108 490351034001010
6124 490351034002015
6140 490351034003015
6153 490351035001011
6167 490351035002013
6185 490351035003015
6203 490351036001015
6212 490351036002007
6217 490351036002012
6252 490351037002016
6295 490351039001009
6312 490351039002012
6349 490351040001014
6367 490351040002013
6380 490351040003009
6422 490351041002021
6459 490351042003006
6496 490351043001007
6537 490351044001016
6538 490351044002000
6566 490351047001010
6615 490351047003017
6693 490351049001006
6705 490351049002002
6716 490351049003004
7116 490351102005008
7127 490351103002004
7151 490351103004008
7213 490351104013006
7229 490351104021011
7245 490351104023000
7289 490351105002000
7327 490351105003005
7343 490351105004012
7361 490351106001014
7436 490351107011010
7471 490351107021009
7490 490351107022017
7519 490351108001005
7558 490351108004001
7640 490351110011020
7643 490351110012001
7717 490351110022009
7736 490351110023015
7755 490351111041014
7775 490351111042018
7811 490351111052017
7815 490351111053003
7863 490351111071003
7896 490351111082000
7957 490351112011017
7965 490351112012002
8107 490351113041026
8201 490351114001012
8208 490351114002006
8240 490351114004014
8251 490351114005010
8263 490351114006010
8268 490351114006015
8284 490351115001015
8292 490351115001023
8299 490351115001030
8307 490351115001038
8314 490351115001045
8319 490351115001050
8320 490351115001051
8323 490351115001054
8331 490351115001062
8339 490351115001070
8344 490351115001075
8345 490351115001076
8347 490351115001078
8348 490351115001079
8349 490351115001080
8350 490351115001081
8357 490351116011005
8378 490351116012005
8380 490351116012007
8385 490351116012012
8388 490351116012015
8401 490351116012028
8421 490351116022004
8426 490351116023001
8444 490351117011006
8461 490351117012014
8469 490351117012022
8485 490351117021009
8493 490351117022007
8501 490351117023007
8512 490351117024007
8530 490351118011017
8544 490351118012013
8554 490351118013005
8571 490351118021006
8580 490351118021015
8596 490351118022014
8604 490351118022022
8615 490351119031009
8627 490351119032010
8650 490351119041009
8663 490351119043004
8724 490351120011013
8728 490351120012000
8766 490351120022008
8768 490351120023000
8789 490351120024010
8798 490351121011008
8806 490351121012007
8837 490351121013021
8838 490351121013022
8839 490351121013023
8841 490351121014001
8881 490351121022003
8890 490351121022012
8892 490351121023000
8911 490351121024009
8915 490351122011001
8943 490351122011029
8956 490351122012012
8962 490351122013004
9000 490351122021020
9030 490351122022023
9083 490351123013011
9113 490351123021025
9144 490351123023021
9147 490351124021001
9199 490351124023016
9220 490351124024013
9250 490351124044003
9256 490351124044009
9278 490351124051021
9311 490351124052002
9312 490351124052003
9364 490351125011004
9433 490351125033011
9436 490351125033014
9456 490351125041008
9466 490351125052000
9470 490351125052004
9521 490351126041023
9577 490351126044014
9613 490351126082018
9876 490351126113026
9906 490351126121009
10013 490351126133000
10071 490351126142002
10276 490351126191001
10327 490351126201008
10334 490351126202000
10371 490351126211019
10402 490351126213006
10410 490351126213014
10421 490351126213025
10422 490351126213026
10449 490351127002016
10490 490351127003038
10495 490351127003043
10528 490351127004009
10542 490351127004023
10560 490351128041013
10571 490351128042009
10600 490351128043016
10659 490351128052022
10720 490351128122016
10737 490351128123011
10751 490351128124005
10804 490351128133000
10909 490351128151011
10922 490351128151024
10960 490351128153010
10966 490351128153016
10982 490351128161000
11038 490351128163023
11048 490351128181000
11128 490351128221001
11144 490351128221017
11145 490351128222000
11162 490351128223000
11221 490351128233012
11237 490351128233028
11253 490351128241002
11284 490351128243011
11302 490351128251001
11318 490351128252006
11327 490351128252015
11333 490351128252021
11334 490351128252022
11339 490351128252027
11345 490351128252033
11356 490351128252044
11364 490351128252052
11379 490351128252067
11394 490351128261006
11402 490351128261014
11426 490351128263004
11433 490351128271000
11442 490351128271009
11483 490351128271050
11572 490351128282009
11586 490351128282023
11658 490351128302015
11665 490351128302022
11737 490351129044006
11743 490351129045005
11774 490351129052011
11788 490351129053013
11794 490351129053019
11829 490351129072012
11837 490351129073002
11842 490351129121003
11867 490351129122009
11897 490351129132017
11909 490351129133010
11935 490351129142014
11944 490351129143004
11989 490351129162013
12005 490351129171002
12029 490351129172010
12039 490351129181006
12103 490351129202012
12105 490351129202014
12120 490351129211008
12133 490351129212010
12148 490351129213012
12166 490351130071013
12178 490351130072010
12189 490351130081007
12200 490351130082009
12209 490351130083008
12252 490351130101008
12261 490351130102008
12267 490351130102014
12279 490351130103008
12292 490351130104010
12298 490351130105003
12319 490351130111011
12342 490351130112016
12405 490351130122001
12412 490351130123000
12440 490351130124010
12480 490351130131028
12499 490351130132010
12508 490351130133007
12523 490351130133022
12533 490351130133032
12553 490351130141019
12581 490351130142018
12598 490351130161008
12647 490351130162019
12668 490351130163019
12681 490351130171008
12719 490351130173018
12735 490351130174014
12737 490351130174016
12740 490351130211000
12853 490351130222010
12908 490351130231000
12994 490351130241001
12998 490351130241005
13022 490351130242008
13042 490351130242028
13140 490351131012004
13208 490351131021009
13269 490351131051015
13334 490351131052037
13342 490351131053002
13429 490351131091011
13547 490351131112000
13608 490351131131000
13715 490351131132076
13738 490351131141013
13757 490351131141032
13772 490351131142014
13774 490351131142016
13805 490351133071003
13836 490351133072018
13845 490351133073005
13857 490351133074003
13879 490351133081000
13885 490351133082000
13918 490351133083011
13940 490351133092008
13952 490351133093005
13962 490351133101000
13969 490351133101007
14016 490351133112000
14049 490351133122006
14058 490351133122015
14073 490351133123009
14076 490351133131001
14082 490351133133000
14098 490351133142003
14101 490351134061001
14131 490351134062021
14142 490351134063008
14188 490351134082018
14214 490351134091005
14294 490351134103016
14311 490351134111005
14328 490351134112006
14335 490351134112013
14350 490351134122004
14413 490351134133020
14414 490351134141000
14473 490351134144005
14493 490351134151016
14519 490351134152021
14533 490351134153013
14535 490351134153015
14566 490351135052014
14613 490351135091013
14636 490351135093013
14672 490351135101006
14673 490351135101007
14701 490351135103005
14739 490351135112011
14773 490351135122008
14791 490351135131017
14849 490351135144000
14867 490351135151007
14891 490351135152014
14920 490351135201006
14929 490351135201015
14979 490351135212011
15007 490351135214011
15017 490351135221009
15029 490351135222010
15047 490351135231012
15056 490351135231021
15111 490351135261010
15143 490351135262007
15255 490351135321014
15277 490351135331000
15291 490351135331014
15309 490351135332006
15318 490351135333007
15330 490351135361007
15342 490351135362003
15346 490351135362007
15370 490351135371023
15384 490351135372013
15396 490351135381008
15404 490351135382000
15450 490351135392013
15508 490351135402016
15531 490351135411015
15543 490351135421009
15544 490351135421010
15558 490351135421024
15579 490351135431013
15583 490351135431017
15662 490351135451007
15666 490351135451011
15686 490351135451031
15688 490351135451033
15701 490351135451046
15704 490351136001000
15739 490351136002013
15793 490351137011014
15844 490351137021018
15861 490351138011005
16037 490351139031008
16039 490351139031010
16040 490351139032000
16061 490351139033006
16070 490351139041008
16105 490351139044012
16155 490351139054001
16172 490351139054018
16180 490351139054026
16202 490351139061021
16204 490351139061023
16205 490351139061024
16212 490351139061031
16218 490351139061037
16240 490351139061059
16253 490351139061072
16316 490351139082010
16335 490351139083011
16373 490351139091032
16398 490351140001002
16399 490351140001003
16402 490351140001006
16403 490351140001007
16406 490351140001010
16407 490351140001011
16409 490351140002000
16412 490351140002003
16415 490351140002006
16416 490351140002007
16417 490351140002008
16418 490351140002009
16419 490351140002010
16421 490351140002012
16422 490351140002013
16423 490351140003000
16424 490351140003001
16425 490351140003002
16426 490351140003003
16427 490351140003004
16428 490351140003005
16429 490351140003006
16438 490351140003015
16439 490351140003016
16441 490351140003018
16442 490351140003019
16443 490351140003020
16444 490351140003021
16450 490351140003027
16452 490351140003029
16453 490351140003030
16454 490351140003031
16459 490351140003036
16460 490351140003037
16461 490351140003038
16465 490351140003042
16496 490351141001021
16499 490351141001024
16503 490351141001028
16513 490351141002009
16514 490351141002010
16531 490351142001010
16534 490351142001013
16549 490351142002000
16644 490351143021012
16659 490351143031001
16682 490351143031024
16773 490351143033036
16790 490351143041000
16807 490351143041017
16819 490351143042004
16891 490351145001027
16902 490351145002010
16933 490351145003028
16937 490351145003032
16943 490351145003038
16945 490351145003040
16953 490351145003048
16956 490351145003051
16964 490351145003059
16968 490351145003063
16970 490351145003065
16994 490351145003089
17005 490351145003100
17024 490351145003119
17028 490351145003123
17046 490351145003141
17047 490351145003142
17056 490351145003151
17073 490351145003168
17085 490351145003180
17098 490351145003193
17099 490351145003194
17112 490351146011007
17121 490351146012007
17193 490351147001021
17238 490351147002016
17459 490351151091003
17524 490351152101018
17561 490351152101055
17568 490351152101062
17601 490351152101095
17663 490351152101157
17691 490351152111004
17732 490351152111045
17733 490351152111046
17748 490351152111061
17783 490351152113000
17785 490351152113002
17809 490351152113026
17827 490359800001006
17841 490359800001020
17858 490490001021000
17894 490490001022018
17913 490490001023015
17992 490490001032007
17993 490490001032008
18009 490490001032024
18049 490490001034000
18059 490490001034010
18061 490490001034012
18123 490490001051010
18151 490490002031000
18172 490490002032000
18231 490490002051008
18280 490490002061000
18286 490490002061006
18312 490490002062010
18324 490490002071000
18379 490490002081003
18404 490490002082007
18424 490490002083010
18498 490490004003003
18652 490490005062000
18714 490490005081000
18790 490490005101020
18820 490490005103006
18851 490490005112008
18865 490490005112022
18883 490490005114000
18892 490490006011003
18895 490490006011006
18898 490490006011009
18902 490490006011013
18907 490490006011018
18968 490490006031005
18996 490490006033003
19038 490490007031000
19051 490490007032000
19071 490490007033000
19105 490490007063000
19152 490490007072000
19170 490490007073000
19203 490490007082002
19318 490490008011000
19343 490490008012000
19404 490490008041000
19420 490490008042000
19447 490490009011000
19461 490490009012000
19478 490490009013000
19537 490490009041000
19569 490490010011000
19579 490490010012000
19621 490490010021009
19624 490490010023000
19645 490490011031000

19664 490490011031019
19666 490490011032000
19673 490490011032007
19708 490490011061000
19712 490490011062000
19762 490490011081000
19834 490490012012027
19873 490490012022011
19929 490490013003016
19973 490490014012000
19980 490490014012007
20114 490490015031000
20149 490490015032003
20189 490490015042000
20241 490490016012000
20278 490490017011006
20391 490490018021003
20399 490490018022003
20426 490490018031003
20444 490490019001000
20456 490490019002000
20458 490490019002002
20466 490490019003000
20491 490490020011016
20528 490490020022017
20532 490490021011000
20675 490490022043000
20698 490490022051007
20723 490490022052000
20770 490490022063000
20779 490490022081000
20780 490490022081001
20781 490490022081002
20827 490490022082022
20836 490490022091000
20842 490490022091006
20843 490490022092000
20847 490490022092004
20848 490490022092005
20855 490490022093000
20889 490490022101000
20935 490490022122002
20972 490490022123015
20980 490490022131003
20981 490490022131004
21029 490490023001000
21047 490490023002006
21055 490490023002014
21071 490490023003014
21080 490490024001000
21087 490490024001007
21093 490490024001013
21104 490490024002003
21106 490490024002005
21119 490490024002018
21125 490490024002024
21126 490490024002025
21128 490490024002027
21131 490490025001001
21172 490490025004001
21246 490490027032005
21312 490490029012005
21324 490490029012017
21334 490490029013001
21368 490490029014000
21370 490490029014002
21373 490490029014005
21395 490490029015009
21442 490490029023000
21458 490490029023016
21466 490490030011000
21570 490490031031013
21574 490490031031017
21596 490490031032021
21678 490490031052002
21710 490490031053003
21721 490490031061003
21754 490490032011002
21831 490490032032003
21869 490490032041000
21873 490490032041004
21901 490490032042000
21992 490490033011008
22063 490490033022000
22066 490490033022003
22097 490490034011003
22131 490490034012000
22214 490490034031026
22246 490490034033000
22323 490490034051000
22362 490490034051039
22411 490490101071004
22483 490490101073015
22491 490490101073023
22493 490490101073025
22496 490490101073028
22500 490490101073032
22519 490490101073051
22530 490490101073062
22540 490490101073072
22569 490490101074021
22721 490490101101000
22732 490490101102003
22754 490490101102025
22759 490490101103000
22806 490490101141020
22846 490490101143000
22860 490490101143014
22881 490490101152001
22891 490490101152011
22893 490490101152013
22912 490490101153012
23132 490490101182013
23438 490490101212036
23479 490490101221039
23484 490490101221044
23487 490490101221047
23523 490490101222026
23538 490490101231012
23554 490490101231028
23585 490490101233000
23683 490490101251011
23692 490490101251020
23730 490490101261000
23748 490490101261018
23749 490490101261019
23771 490490101262011
23775 490490101271000
23780 490490101271005
23783 490490101271008
23809 490490101272000
23815 490490101272006
23896 490490101281029
23898 490490101281031
23899 490490101282000
23907 490490101283001
23909 490490101283003
23913 490490101283007
24033 490490101303018
24035 490490101311000
24036 490490101311001
24044 490490101311009
24052 490490101311017
24078 490490101311043
24091 490490101312004
24096 490490101312009
24349 490490102082000
24371 490490102082022
24382 490490102083010
24424 490490102093004
24493 490490102102000
24664 490490102121016
24673 490490102122002
24686 490490102122015
24694 490490102122023
24843 490490102161022
24908 490490102171025
24983 490490102173039
24989 490490102191000
25025 490490102192000
25090 490490102201023
25110 490490102203000
25145 490490102211001
25146 490490102211002
25152 490490102212005
25169 490490102221000
25238 490490102223000
25278 490490102241000
25351 490490102253000
25373 490490102254000
25474 490490103033000
25488 490490103033014
25494 490490103033020
25502 490490103051002
25503 490490103051003
25522 490490103051022
25579 490490103062001
25580 490490103062002
25588 490490103062010
25605 490490103071000
25607 490490103071002
25619 490490103071014
25630 490490103071025
25631 490490103071026
25661 490490103073000
25663 490490103073002
25689 490490103081003
25707 490490103082000
25720 490490103082013
25733 490490103083003
25775 490490104042000
25853 490490104061001
25880 490490104061028
25883 490490104061031
25890 490490104061038
25921 490490104061069
25939 490490104062014
25954 490490104062029
25983 490490104071017
25985 490490104071019
25995 490490104071029
26001 490490104071035
26008 490490104072000
26036 490490104072028
26075 490490104081038
26084 490490104082006
26098 490490104082020
26260 490490104103000
26474 490490104113025
26509 490490105031009
26511 490490105031011
26512 490490105031012
26517 490490105031017
26518 490490105031018
26526 490490105031026
26528 490490105031028
26529 490490105031029
26544 490490105032003
26550 490490105032009
26569 490490105032028
26576 490490105032035
26578 490490105032037
26594 490490105032053
26609 490490105032068
26618 490490105032077
26623 490490105032082
26624 490490105032083
26625 490490105032084
26639 490490105032098
26641 490490105032100
26654 490490105032113
26665 490490105041007
26666 490490105041008
26694 490490105041036
26699 490490105041041
26715 490490105041057
26716 490490105041058
26718 490490105041060
26732 490490105041074
26738 490490105041080
26744 490490105041086
26753 490490105041095
26764 490490105042005
26765 490490105042006
26769 490490105042010
26777 490490105042018
26780 490490105042021
26796 490490105042037
26803 490490105042044
26829 490490105042070
26835 490490105042076
26847 490490105051009
26876 490490105054000
26933 490490105061000
26950 490490105062000
26972 490490105063006
27046 490490106001058
27158 490490106001170
27173 490490106001185
27181 490490106001193
27201 490490106002008
27287 490490106003037
27371 490490107001000
27452 490490109001010
27628 490490109002129
27804 490499801001025
27851 490499803001021
27883 490499803001053
27887 490499803002000
28020 490572002021011
28045 490572002022015
28160 490572002042015
28162 490572002042017
28175 490572002042030
28184 490572003011004
28205 490572003012017
28210 490572003013001
28219 490572003013010
28239 490572003021015
28262 490572003022017
28268 490572004001004
28270 490572004001006
28276 490572004001012
28284 490572004001020
28294 490572004002009
28296 490572004002011
28297 490572004002012
28301 490572004002016
28317 490572005002010
28343 490572005005004
28364 490572005006006
28379 490572006001010
28450 490572007001026
28481 490572007003012
28503 490572008001019
28514 490572008002010
28527 490572008003012
28543 490572009001013
28545 490572009001015
28551 490572009001021
28557 490572009002005
28567 490572009003007
28568 490572011001000
28569 490572011001001
28571 490572011001003
28572 490572011001004
28580 490572011001012
28584 490572011001016
28590 490572011001022
28599 490572011002006
28600 490572011002007
28602 490572011002009
28607 490572011002014
28608 490572011002015
28610 490572011002017
28631 490572012001000
28643 490572012001012
28654 490572012001023
28655 490572012001024
28657 490572012002000
28659 490572012002002
28664 490572012002007
28688 490572013011015
28705 490572013012011
28720 490572013021013
28732 490572013022010
28743 490572013023008
28763 490572014001015
28905 490572016002007
28928 490572016003021
28983 490572018001013
28984 490572018001014
28989 490572018001019
28990 490572018001020
29011 490572018002020
29019 490572019001004
29059 490572019001044
29061 490572019001046
29072 490572019001057
29097 490572019001082
29124 490572020001003
29185 490572101011020
29191 490572101011026
29248 490572102011022
29257 490572102011031
29358 490572102041006
29372 490572102041020
29412 490572102042020
29443 490572103031007
29499 490572103032023
29533 490572103034009
29570 490572103042001
29630 490572103043024
29635 490572103043029
29701 490572103053008
29740 490572103061025
29747 490572103061032
29778 490572103062029
29793 490572104041002
29812 490572104041021
29821 490572104042007
29832 490572104042018
29848 490572104042034
29849 490572104042035
29873 490572104051018
29874 490572104051019
29885 490572104052007
29903 490572104052025
29906 490572104052028
29908 490572104061000
29932 490572104061024
29947 490572104062012
29956 490572104062021
29966 490572104062031
29989 490572104071019
29992 490572104071022
30064 490572104073020
30074 490572104073030
30081 490572104073037
30094 490572104081008
30113 490572104081027
30149 490572104081063
30154 490572104081068
30192 490572104082030
30202 490572105081003
30223 490572105081024
30230 490572105091006
30245 490572105091021
30309 490572105101020
30382 490572105112013
30402 490572105121003
30407 490572105121008
30420 490572105121021
30491 490572105131001
30567 490572105141000
30624 490572105143001
30673 490572105151030
30704 490572105152015
30716 490572105161001
30728 490572105161013
30736 490572105161021
30739 490572105161024
30747 490572105161032
30748 490572105161033
30770 490572105163001
30771 490572105163002
30784 490572105163015
30793 490572105163024
30800 490572105171000
30816 490572105171016
30829 490572105171029
30848 490572105172018
30862 490572105172032
30864 490572105172034
30868 490572105172038
30875 490572105181006
30876 490572105181007
30897 490572105181028
30904 490572105181035
30914 490572105181045
30922 490572105181053
30929 490572105182006
30946 490572105182023
30959 490572105182036
30965 490572105182042
30987 490572105182064
31036 490572106002012
31039 490572106002015
31113 490572107011018
31128 490572107012001
31194 490572107032000
31209 490572107041003
31253 490572107043014
31305 490572108001009
31328 490572108002015
31349 490572109001005
31377 490572109002010
31410 490572109003019
31499 490572110002010
31556 490572111003013
31576 490572111005000
31708 490572112023016
31722 490572112023030

In [36]:
strList = ""
for index, row in sdfTazCb_gt1wSmall.iterrows():
    strList = strList + "'" + row[strGEOIDField] + "',"
strList = "(" + strList[:-1] + ")"
strList

"('490111251032001','490111251032005','490111251041001','490111251041012','490111251042023','490111253012001','490111253014001','490111253041000','490111253042010','490111253042041','490111253043000','490111253051022','490111253053010','490111253054009','490111253061000','490111253061027','490111253071021','490111253072000','490111253072006','490111253072011','490111253073017','490111253074009','490111253074013','490111253074035','490111254072012','490111254073006','490111254074005','490111254074017','490111254082000','490111254083024','490111254102025','490111254112020','490111254121008','490111254131020','490111254142009','490111254151028','490111255011019','490111255013017','490111255031007','490111257012005','490111257013000','490111257013003','490111257021005','490111257022019','490111258014004','490111258014012','490111258041000','490111258041033','490111258044000','490111258052025','490111258071005','490111258072001','490111258093003','490111258102000','490111259053017','490111259061040','490111260013009','490111260021002','490111260021007','490111260021028','490111260023003','490111260023027','490111260023033','490111261011000','490111261011026','490111261014000','490111261061000','490111261061021','490111261071018','490111261072001','490111261072013','490111262032020','490111262032027','490111262051031','490111262051048','490111262061013','490111263041039','490111263041046','490111263041057','490111263042011','490111263042015','490111263061018','490111263061027','490111263062024','490111263062042','490111263063027','490111263063029','490111263063033','490111264062027','490111265005018','490111266002017','490111266003015','490111267002009','490111267002012','490111267002020','490111267004016','490111268013000','490111269013013','490111269015005','490111269016008','490111269016018','490111269023013','490111269025005','490111270023018','490111270024019','490111270024052','490111270031021','490111270033008','490111270033023','490111270033028','490111270033049','490111270033053','490111270051003','490111270062010','490111270062013','490111270063002','490111271002015','490111271003018','490111271004000','490119800001038','490351001001012','490351001002007','490351001002010','490351001002011','490351003062007','490351003062009','490351003081000','490351003081001','490351005002010','490351005005003','490351006001000','490351006001014','490351006004000','490351006005000','490351006005005','490351008001009','490351008003005','490351010002043','490351011011010','490351011022014','490351014011001','490351015002004','490351016003016','490351017003000','490351018003011','490351019001000','490351019001003','490351019002000','490351019002003','490351019003003','490351019004000','490351019004003','490351019004004','490351020001001','490351020001003','490351020001010','490351020002006','490351020003004','490351021001000','490351021001001','490351021001002','490351021001003','490351021002000','490351021002001','490351021002002','490351021002003','490351023001000','490351023001005','490351023002000','490351023002001','490351023002002','490351023002003','490351023003000','490351023003001','490351023003002','490351025012000','490351025012001','490351025012002','490351025012006','490351025012007','490351025012009','490351025012010','490351025012011','490351025012012','490351025012013','490351025021001','490351025021002','490351025021003','490351025021004','490351025022007','490351025022008','490351025022009','490351025022010','490351026001012','490351026002000','490351026003002','490351026003005','490351026003007','490351027011003','490351027013026','490351027021013','490351027022000','490351028011009','490351028011014','490351028011017','490351028012016','490351028021000','490351028021005','490351028021010','490351028021013','490351028021025','490351028022000','490351028023013','490351029001015','490351029001030','490351029001032','490351029001035','490351029001038','490351029002011','490351029002015','490351029002028','490351029002029','490351029003005','490351029003006','490351029003012','490351029003015','490351030001000','490351030001020','490351030002018','490351031001018','490351031002020','490351032001017','490351032002023','490351032003017','490351033002021','490351033003018','490351034001010','490351034002015','490351034003015','490351035001011','490351035002013','490351035003015','490351036001015','490351036002007','490351036002012','490351037002016','490351039001009','490351039002012','490351040001014','490351040002013','490351040003009','490351041002021','490351042003006','490351043001007','490351044001016','490351044002000','490351047001010','490351047003017','490351049001006','490351049002002','490351049003004','490351102005008','490351103002004','490351103004008','490351104013006','490351104021011','490351104023000','490351105002000','490351105003005','490351105004012','490351106001014','490351107011010','490351107021009','490351107022017','490351108001005','490351108004001','490351110011020','490351110012001','490351110022009','490351110023015','490351111041014','490351111042018','490351111052017','490351111053003','490351111071003','490351111082000','490351112011017','490351112012002','490351113041026','490351114001012','490351114002006','490351114004014','490351114005010','490351114006010','490351114006015','490351115001015','490351115001023','490351115001030','490351115001038','490351115001045','490351115001050','490351115001051','490351115001054','490351115001062','490351115001070','490351115001075','490351115001076','490351115001078','490351115001079','490351115001080','490351115001081','490351116011005','490351116012005','490351116012007','490351116012012','490351116012015','490351116012028','490351116022004','490351116023001','490351117011006','490351117012014','490351117012022','490351117021009','490351117022007','490351117023007','490351117024007','490351118011017','490351118012013','490351118013005','490351118021006','490351118021015','490351118022014','490351118022022','490351119031009','490351119032010','490351119041009','490351119043004','490351120011013','490351120012000','490351120022008','490351120023000','490351120024010','490351121011008','490351121012007','490351121013021','490351121013022','490351121013023','490351121014001','490351121022003','490351121022012','490351121023000','490351121024009','490351122011001','490351122011029','490351122012012','490351122013004','490351122021020','490351122022023','490351123013011','490351123021025','490351123023021','490351124021001','490351124023016','490351124024013','490351124044003','490351124044009','490351124051021','490351124052002','490351124052003','490351125011004','490351125033011','490351125033014','490351125041008','490351125052000','490351125052004','490351126041023','490351126044014','490351126082018','490351126113026','490351126121009','490351126133000','490351126142002','490351126191001','490351126201008','490351126202000','490351126211019','490351126213006','490351126213014','490351126213025','490351126213026','490351127002016','490351127003038','490351127003043','490351127004009','490351127004023','490351128041013','490351128042009','490351128043016','490351128052022','490351128122016','490351128123011','490351128124005','490351128133000','490351128151011','490351128151024','490351128153010','490351128153016','490351128161000','490351128163023','490351128181000','490351128221001','490351128221017','490351128222000','490351128223000','490351128233012','490351128233028','490351128241002','490351128243011','490351128251001','490351128252006','490351128252015','490351128252021','490351128252022','490351128252027','490351128252033','490351128252044','490351128252052','490351128252067','490351128261006','490351128261014','490351128263004','490351128271000','490351128271009','490351128271050','490351128282009','490351128282023','490351128302015','490351128302022','490351129044006','490351129045005','490351129052011','490351129053013','490351129053019','490351129072012','490351129073002','490351129121003','490351129122009','490351129132017','490351129133010','490351129142014','490351129143004','490351129162013','490351129171002','490351129172010','490351129181006','490351129202012','490351129202014','490351129211008','490351129212010','490351129213012','490351130071013','490351130072010','490351130081007','490351130082009','490351130083008','490351130101008','490351130102008','490351130102014','490351130103008','490351130104010','490351130105003','490351130111011','490351130112016','490351130122001','490351130123000','490351130124010','490351130131028','490351130132010','490351130133007','490351130133022','490351130133032','490351130141019','490351130142018','490351130161008','490351130162019','490351130163019','490351130171008','490351130173018','490351130174014','490351130174016','490351130211000','490351130222010','490351130231000','490351130241001','490351130241005','490351130242008','490351130242028','490351131012004','490351131021009','490351131051015','490351131052037','490351131053002','490351131091011','490351131112000','490351131131000','490351131132076','490351131141013','490351131141032','490351131142014','490351131142016','490351133071003','490351133072018','490351133073005','490351133074003','490351133081000','490351133082000','490351133083011','490351133092008','490351133093005','490351133101000','490351133101007','490351133112000','490351133122006','490351133122015','490351133123009','490351133131001','490351133133000','490351133142003','490351134061001','490351134062021','490351134063008','490351134082018','490351134091005','490351134103016','490351134111005','490351134112006','490351134112013','490351134122004','490351134133020','490351134141000','490351134144005','490351134151016','490351134152021','490351134153013','490351134153015','490351135052014','490351135091013','490351135093013','490351135101006','490351135101007','490351135103005','490351135112011','490351135122008','490351135131017','490351135144000','490351135151007','490351135152014','490351135201006','490351135201015','490351135212011','490351135214011','490351135221009','490351135222010','490351135231012','490351135231021','490351135261010','490351135262007','490351135321014','490351135331000','490351135331014','490351135332006','490351135333007','490351135361007','490351135362003','490351135362007','490351135371023','490351135372013','490351135381008','490351135382000','490351135392013','490351135402016','490351135411015','490351135421009','490351135421010','490351135421024','490351135431013','490351135431017','490351135451007','490351135451011','490351135451031','490351135451033','490351135451046','490351136001000','490351136002013','490351137011014','490351137021018','490351138011005','490351139031008','490351139031010','490351139032000','490351139033006','490351139041008','490351139044012','490351139054001','490351139054018','490351139054026','490351139061021','490351139061023','490351139061024','490351139061031','490351139061037','490351139061059','490351139061072','490351139082010','490351139083011','490351139091032','490351140001002','490351140001003','490351140001006','490351140001007','490351140001010','490351140001011','490351140002000','490351140002003','490351140002006','490351140002007','490351140002008','490351140002009','490351140002010','490351140002012','490351140002013','490351140003000','490351140003001','490351140003002','490351140003003','490351140003004','490351140003005','490351140003006','490351140003015','490351140003016','490351140003018','490351140003019','490351140003020','490351140003021','490351140003027','490351140003029','490351140003030','490351140003031','490351140003036','490351140003037','490351140003038','490351140003042','490351141001021','490351141001024','490351141001028','490351141002009','490351141002010','490351142001010','490351142001013','490351142002000','490351143021012','490351143031001','490351143031024','490351143033036','490351143041000','490351143041017','490351143042004','490351145001027','490351145002010','490351145003028','490351145003032','490351145003038','490351145003040','490351145003048','490351145003051','490351145003059','490351145003063','490351145003065','490351145003089','490351145003100','490351145003119','490351145003123','490351145003141','490351145003142','490351145003151','490351145003168','490351145003180','490351145003193','490351145003194','490351146011007','490351146012007','490351147001021','490351147002016','490351151091003','490351152101018','490351152101055','490351152101062','490351152101095','490351152101157','490351152111004','490351152111045','490351152111046','490351152111061','490351152113000','490351152113002','490351152113026','490359800001006','490359800001020','490490001021000','490490001022018','490490001023015','490490001032007','490490001032008','490490001032024','490490001034000','490490001034010','490490001034012','490490001051010','490490002031000','490490002032000','490490002051008','490490002061000','490490002061006','490490002062010','490490002071000','490490002081003','490490002082007','490490002083010','490490004003003','490490005062000','490490005081000','490490005101020','490490005103006','490490005112008','490490005112022','490490005114000','490490006011003','490490006011006','490490006011009','490490006011013','490490006011018','490490006031005','490490006033003','490490007031000','490490007032000','490490007033000','490490007063000','490490007072000','490490007073000','490490007082002','490490008011000','490490008012000','490490008041000','490490008042000','490490009011000','490490009012000','490490009013000','490490009041000','490490010011000','490490010012000','490490010021009','490490010023000','490490011031000','490490011031019','490490011032000','490490011032007','490490011061000','490490011062000','490490011081000','490490012012027','490490012022011','490490013003016','490490014012000','490490014012007','490490015031000','490490015032003','490490015042000','490490016012000','490490017011006','490490018021003','490490018022003','490490018031003','490490019001000','490490019002000','490490019002002','490490019003000','490490020011016','490490020022017','490490021011000','490490022043000','490490022051007','490490022052000','490490022063000','490490022081000','490490022081001','490490022081002','490490022082022','490490022091000','490490022091006','490490022092000','490490022092004','490490022092005','490490022093000','490490022101000','490490022122002','490490022123015','490490022131003','490490022131004','490490023001000','490490023002006','490490023002014','490490023003014','490490024001000','490490024001007','490490024001013','490490024002003','490490024002005','490490024002018','490490024002024','490490024002025','490490024002027','490490025001001','490490025004001','490490027032005','490490029012005','490490029012017','490490029013001','490490029014000','490490029014002','490490029014005','490490029015009','490490029023000','490490029023016','490490030011000','490490031031013','490490031031017','490490031032021','490490031052002','490490031053003','490490031061003','490490032011002','490490032032003','490490032041000','490490032041004','490490032042000','490490033011008','490490033022000','490490033022003','490490034011003','490490034012000','490490034031026','490490034033000','490490034051000','490490034051039','490490101071004','490490101073015','490490101073023','490490101073025','490490101073028','490490101073032','490490101073051','490490101073062','490490101073072','490490101074021','490490101101000','490490101102003','490490101102025','490490101103000','490490101141020','490490101143000','490490101143014','490490101152001','490490101152011','490490101152013','490490101153012','490490101182013','490490101212036','490490101221039','490490101221044','490490101221047','490490101222026','490490101231012','490490101231028','490490101233000','490490101251011','490490101251020','490490101261000','490490101261018','490490101261019','490490101262011','490490101271000','490490101271005','490490101271008','490490101272000','490490101272006','490490101281029','490490101281031','490490101282000','490490101283001','490490101283003','490490101283007','490490101303018','490490101311000','490490101311001','490490101311009','490490101311017','490490101311043','490490101312004','490490101312009','490490102082000','490490102082022','490490102083010','490490102093004','490490102102000','490490102121016','490490102122002','490490102122015','490490102122023','490490102161022','490490102171025','490490102173039','490490102191000','490490102192000','490490102201023','490490102203000','490490102211001','490490102211002','490490102212005','490490102221000','490490102223000','490490102241000','490490102253000','490490102254000','490490103033000','490490103033014','490490103033020','490490103051002','490490103051003','490490103051022','490490103062001','490490103062002','490490103062010','490490103071000','490490103071002','490490103071014','490490103071025','490490103071026','490490103073000','490490103073002','490490103081003','490490103082000','490490103082013','490490103083003','490490104042000','490490104061001','490490104061028','490490104061031','490490104061038','490490104061069','490490104062014','490490104062029','490490104071017','490490104071019','490490104071029','490490104071035','490490104072000','490490104072028','490490104081038','490490104082006','490490104082020','490490104103000','490490104113025','490490105031009','490490105031011','490490105031012','490490105031017','490490105031018','490490105031026','490490105031028','490490105031029','490490105032003','490490105032009','490490105032028','490490105032035','490490105032037','490490105032053','490490105032068','490490105032077','490490105032082','490490105032083','490490105032084','490490105032098','490490105032100','490490105032113','490490105041007','490490105041008','490490105041036','490490105041041','490490105041057','490490105041058','490490105041060','490490105041074','490490105041080','490490105041086','490490105041095','490490105042005','490490105042006','490490105042010','490490105042018','490490105042021','490490105042037','490490105042044','490490105042070','490490105042076','490490105051009','490490105054000','490490105061000','490490105062000','490490105063006','490490106001058','490490106001170','490490106001185','490490106001193','490490106002008','490490106003037','490490107001000','490490109001010','490490109002129','490499801001025','490499803001021','490499803001053','490499803002000','490572002021011','490572002022015','490572002042015','490572002042017','490572002042030','490572003011004','490572003012017','490572003013001','490572003013010','490572003021015','490572003022017','490572004001004','490572004001006','490572004001012','490572004001020','490572004002009','490572004002011','490572004002012','490572004002016','490572005002010','490572005005004','490572005006006','490572006001010','490572007001026','490572007003012','490572008001019','490572008002010','490572008003012','490572009001013','490572009001015','490572009001021','490572009002005','490572009003007','490572011001000','490572011001001','490572011001003','490572011001004','490572011001012','490572011001016','490572011001022','490572011002006','490572011002007','490572011002009','490572011002014','490572011002015','490572011002017','490572012001000','490572012001012','490572012001023','490572012001024','490572012002000','490572012002002','490572012002007','490572013011015','490572013012011','490572013021013','490572013022010','490572013023008','490572014001015','490572016002007','490572016003021','490572018001013','490572018001014','490572018001019','490572018001020','490572018002020','490572019001004','490572019001044','490572019001046','490572019001057','490572019001082','490572020001003','490572101011020','490572101011026','490572102011022','490572102011031','490572102041006','490572102041020','490572102042020',

In [40]:
# toggle for import... since it's such a beast
bRunDelete = True

if bRunDelete:
    
    #strCBSEliminated = "TAZ_CBS_Eliminated"
    strCBSEliminated = "TAZ_CBS_Eliminated_SpatialJo"
    arcpy.management.CopyFeatures(strCBSEliminated, "_temp_CBS_Eliminated")

    lyrCBS.definitionQuery = ""
    arcpy.management.CopyFeatures(strCBS, "_temp_CBS_All")

    for lyr in m.listLayers("_temp_CBS_All"):
        lyrTempCBSAll = lyr
    
    # remove fields from data set to match original
    arcpy.DeleteField_management("_temp_CBS_All","BLOCKSPLITID")
    arcpy.DeleteField_management("_temp_CBS_All","SMALL"       )

    # filter by those that did not have another round of elimination
    sql = strGEOIDField + " NOT IN " + strList
    #print (sql)
    lyrTempCBSAll.definitionQuery = sql
    arcpy.management.CopyFeatures("_temp_CBS_All", "_temp_CBS_EliminatedRemoved")
   
    # remove fields from eliminated data set to match original - removed manually
    arcpy.DeleteField_management("_temp_CBS_Eliminated","BLOCKSPLITID")
    arcpy.DeleteField_management("_temp_CBS_Eliminated","SMALL"       )

    # modify this manually
    arcpy.management.Merge("_temp_CBS_EliminatedRemoved;_temp_CBS_Eliminated", r"Census_Block_Splits_Round2", 'GEOID20 "GEOID20" true true false 30 Text 0 0,First,#,_temp_CBS_EliminatedRemoved,GEOID20,0,30,_temp_CBS_Eliminated,GEOID20,0,15;CO_TAZID "CO_TAZID" true true false 4 Long 0 0,First,#,_temp_CBS_EliminatedRemoved,CO_TAZID,-1,-1,_temp_CBS_Eliminated,CO_TAZID,-1,-1;Shape_Length "Shape_Length" false true true 8 Double 0 0,First,#,_temp_CBS_EliminatedRemoved,Shape_Length,-1,-1,_temp_CBS_Eliminated,Shape_Length,-1,-1;Shape_Area "Shape_Area" false true true 8 Double 0 0,First,#,_temp_CBS_EliminatedRemoved,Shape_Area,-1,-1,_temp_CBS_Eliminated,Shape_Area,-1,-1', "NO_SOURCE_INFO")

arcpy.management.Delete("_temp_CBS_Eliminated")
arcpy.management.Delete("_temp_CBS_All")
arcpy.management.Delete("_temp_CBS_EliminatedRemoved")

In [41]:
arcpy.management.AddField("Census_Block_Splits_Round2", "Acres", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Round2", "Acres", "!shape.area@acres!", "PYTHON", "")

In [3]:
# manually add back 490490105041104 and 490490104111183
# remove overlap 490111262041019 and 490351028021020
# manual edit to 490111262041019, 490490021021000,490490021022000,490490021021000  removing overlap
# CO_TAZID = 0

# CHECK NULL VALUES IN ROUND 2 FILE

In [4]:
# IDs Again

In [92]:
# CHECK OVERLAPPING POLYGONS

strLayerName = "Census_Block_Splits_Round2"

initial_count = arcpy.management.GetCount(strLayerName)
print (initial_count)

# union with self to see if overlapping polygons
arcpy.analysis.Union([strLayerName, strLayerName], "tempSelfUnion_" + strLayerName)
selfunion_count = arcpy.management.GetCount("tempSelfUnion_" + strLayerName)
print (selfunion_count)

#arcpy.management.Delete("tempSelfUnion_" + Census_Block_Splits_Round2)

35218
35208

In [93]:
# set layer definition for TAZ
for lyr in m.listLayers("tempSelfUnion_" + strLayerName):
    lyrAddress = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "FID_Census_Block_Splits_Round2 <> FID_Census_Block_Splits_Round2_1"

In [95]:
# MANUALLY REMOVE OVERLAPS

# set layer definition for TAZ
for lyr in m.listLayers("tempSelfUnion_" + strLayerName):
    lyrAddress = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = ""

arcpy.management.CopyFeatures("tempSelfUnion_" + strLayerName, "Census_Block_Splits_Round3")

In [97]:
arcpy.management.AddField("Census_Block_Splits_Round3", "PieceID", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Round3", "PieceID", "!OBJECTID!", "PYTHON", "")

# SPLITS COMPLETE... NOW CALCULATIONS

In [123]:
strFinalTAZCBSplits = "Census_Block_Splits_Round3"

In [124]:
sdfTAZCB_Clean = pd.DataFrame.spatial.from_featureclass(strFinalTAZCBSplits)
display(sdfTAZCB_Clean)

       OBJECTID  ...                                              SHAPE
0             1  ...  {"rings": [[[424307.02049999963, 4548771.3862]...
1             2  ...  {"rings": [[[428135.4545, 4550802.4669], [4281...
2             3  ...  {"rings": [[[424302.21970000025, 4549643.15399...
3             4  ...  {"rings": [[[424302.21970000025, 4549643.15399...
4             5  ...  {"rings": [[[423631.1037999997, 4550951.9011],...
...         ...  ...                                                ...
35204     35205  ...  {"rings": [[[416747.6473000003, 4557186.8597],...
35205     35206  ...  {"rings": [[[417508.43290000036, 4558374.2315]...
35206     35207  ...  {"rings": [[[421038.9335000003, 4554486.1985],...
35207     35208  ...  {"rings": [[[423440.20189999975, 4554125.6844]...
35208     35209  ...  {"rings": [[[482617.72869999986, 4433235.94129...

[35209 rows x 8 columns]

In [125]:
# create numbering of pieces base on a cumulative count
sdfTAZCB_Clean['PIECECNT'] = sdfTAZCB_Clean.groupby([strGEOIDField]).cumcount()+1
display(sdfTAZCB_Clean)

       OBJECTID  ... PIECECNT
0             1  ...        1
1             2  ...        2
2             3  ...        1
3             4  ...        2
4             5  ...        1
...         ...  ...      ...
35204     35205  ...        1
35205     35206  ...        1
35206     35207  ...        1
35207     35208  ...        1
35208     35209  ...        1

[35209 rows x 9 columns]

In [126]:
# for IDs determin which GEOIDS are not split
dfGEOID20s_NumPieces = sdfTAZCB_Clean.groupby([strGEOIDField],as_index=False).agg(NUMPIECES=('CO_TAZID','count'))
dfGEOID20s_NumPieces

               GEOID20  NUMPIECES
0      490111251021000          2
1      490111251021001          2
2      490111251021002          1
3      490111251021003          3
4      490111251021004          2
...                ...        ...
31773  490572112025022          1
31774  490572112025023          1
31775  490572112025024          1
31776  490572112025025          1
31777  490572112025026          1

[31778 rows x 2 columns]

In [127]:
sdfTAZCB_withNumPieces = pd.DataFrame.merge(sdfTAZCB_Clean,dfGEOID20s_NumPieces,on=strGEOIDField,how='left')
sdfTAZCB_withNumPieces

       OBJECTID          GEOID20  ...  PIECECNT  NUMPIECES
0             1  490111251021000  ...         1          2
1             2  490111251021000  ...         2          2
2             3  490111251021001  ...         1          2
3             4  490111251021001  ...         2          2
4             5  490111251021002  ...         1          1
...         ...              ...  ...       ...        ...
35204     35205  490572111003013  ...         1          1
35205     35206  490572111005000  ...         1          1
35206     35207  490572112023016  ...         1          1
35207     35208  490572112023030  ...         1          1
35208     35209  490490109002167  ...         1          1

[35209 rows x 10 columns]

In [128]:
# setup unique id which is combination of GEOID and the split number created when splitting by TAZs
sdfTAZCB_withNumPieces['BLOCKSPLITID'] = ""
sdfTAZCB_withNumPieces.loc[(sdfTAZCB_withNumPieces['NUMPIECES']==1), 'BLOCKSPLITID'] = sdfTAZCB_withNumPieces[strGEOIDField] + '_0'
sdfTAZCB_withNumPieces.loc[(sdfTAZCB_withNumPieces['NUMPIECES']!=1), 'BLOCKSPLITID'] = sdfTAZCB_withNumPieces[strGEOIDField] + '_' + sdfTAZCB_withNumPieces['PIECECNT'].astype(str)

#remove columns no longer needed
dfTAZCB_Final = sdfTAZCB_withNumPieces[['BLOCKSPLITID',strGEOIDField,'CO_TAZID','PieceID']]

display(dfTAZCB_Final)

            BLOCKSPLITID          GEOID20  CO_TAZID  PieceID
0      490111251021000_1  490111251021000    110118        1
1      490111251021000_2  490111251021000    110322        2
2      490111251021001_1  490111251021001    110118        3
3      490111251021001_2  490111251021001    110322        4
4      490111251021002_0  490111251021002    110118        5
...                  ...              ...       ...      ...
35204  490572111003013_0  490572111003013    570398    35205
35205  490572111005000_0  490572111005000    570391    35206
35206  490572112023016_0  490572112023016    570422    35207
35207  490572112023030_0  490572112023030    570422    35208
35208  490490109002167_0  490490109002167    491329    35209

[35209 rows x 4 columns]

In [129]:
#export to csv
dfTAZCB_Final.to_csv('dfTABCB_Final3.csv')

In [130]:
arcpy.management.AddJoin(strFinalTAZCBSplits, "PieceID", 'dfTABCB_Final3.csv', "PieceID")

In [133]:
arcpy.management.CopyFeatures(strFinalTAZCBSplits, "Census_Block_Splits_Final")

In [134]:
arcpy.management.AddField("Census_Block_Splits_Final", "BLKSPLITID", "TEXT", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final", "BLKSPLITID", "!dfTABCB_Final3_csv_BLOCKSPLITID!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final", strGEOIDField, "TEXT", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final", strGEOIDField, "!" + strFinalTAZCBSplits + "_GEOID20!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final", "CO_TAZID", "LONG")
arcpy.CalculateField_management("Census_Block_Splits_Final", "CO_TAZID", "!" + strFinalTAZCBSplits + "_CO_TAZID!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final", "ACRES", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final", "ACRES", "!" + strFinalTAZCBSplits + "_Acres!", "PYTHON", "")

In [135]:
# delte 
fldlist = arcpy.ListFields("Census_Block_Splits_Final")

for fld in fldlist: 
    if (fld.name not in ['OBJECTID','CO_TAZID',strGEOIDField,'BLKSPLITID','Shape','Shape_Length','Shape_Area','ACRES']):
        print("deleting field: " + fld.name)
        arcpy.DeleteField_management("Census_Block_Splits_Final",[fld.name])
print("DONE!")

deleting field: Census_Block_Splits_Round3_GEOID20
deleting field: Census_Block_Splits_Round3_CO_TAZID
deleting field: Census_Block_Splits_Round3_Acres
deleting field: Census_Block_Splits_Round3_GEOID20_1
deleting field: Census_Block_Splits_Round3_Acres_1
deleting field: Census_Block_Splits_Round3_PieceID
deleting field: dfTABCB_Final3_csv_Field1
deleting field: dfTABCB_Final3_csv_BLOCKSPLITID
deleting field: dfTABCB_Final3_csv_GEOID20
deleting field: dfTABCB_Final3_csv_CO_TAZID
deleting field: dfTABCB_Final3_csv_PieceID
DONE!

In [136]:
bRun = False

if bRun:
    
    print("")
    
    #lyrHUI.definitionQuery = "year_built IS NULL Or year_built <= 2019"
    #arcpy.management.CopyFeatures(strHUILayerName, "ResUnits2019")   
    
    # LOOKS LIKE 2020 BUILT YEAR NOT COMPLETE, SINCE ONLY 54 LOCATIONS
    #lyrHUI.definitionQuery = "year_built IS NULL Or year_built <= 2020"
    #arcpy.management.CopyFeatures(strHUILayerName, "ResUnits2020")

In [137]:
strHUILayerName

'residential_parcels_pts'

In [138]:
arcpy.gapro.JoinFeatures("Census_Block_Splits_Final", "ResUnits2019", "CensusBlock_joined_ResUnits2019", "JOIN_ONE_TO_ONE", "CONTAINS", None, '', None, None, "residential_units SUM;residential_units COUNT", '', "KEEP_ALL")
#arcpy.gapro.JoinFeatures("Census_Block_Splits_Final", "ResUnits2020", "CensusBlock_joined_ResUnits2020", "JOIN_ONE_TO_ONE", "CONTAINS", None, '', None, None, "residential_units SUM;residential_units COUNT", '', "KEEP_ALL")

In [139]:
# set layer definition for TAZ
for lyr in m.listLayers("AddressPoints_NAD83"):
    lyrAddress = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "CountyID IN ('49011', '49035', '49049', '49057') And PtType NOT IN ('INDUSTRIAL', 'Industrial', 'COMMERCIAL', 'Commercial', 'Government', 'Vacant')"
        
arcpy.gapro.JoinFeatures("Census_Block_Splits_Final", "AddressPoints_NAD83", "Census_Block_Splits_Final_joined_AddressPoints", "JOIN_ONE_TO_ONE", "CONTAINS", None, '', None, None, "OBJECTID COUNT", '', "KEEP_ALL")

# NEED TO MANUALLY REMOVE BLOCKS WITHIN REMM AREA

In [140]:
# put into sdf to calculate distributions

#sdfResCBSplit2010 = pd.DataFrame.spatial.from_featureclass("CensusBlock_joined_ResUnits2010")
#dfResCBSplit2010 = sdfResCBSplit2010[['BLOCKSPLITID','GEOID10','ACRES','SUM_residential_units']]
#dfResCBSplit2010 = dfResCBSplit2010.rename(columns={'BLOCKSPLITID':'BLKSPLITID','SUM_residential_units':'HH10'})
#display(dfResCBSplit2010)

sdfResCBSplit2019 = pd.DataFrame.spatial.from_featureclass("CensusBlock_joined_ResUnits2019")
dfResCBSplit2019 = sdfResCBSplit2019[[strGEOIDField,'ACRES','BLKSPLITID','SUM_residential_units']]
dfResCBSplit2019 = dfResCBSplit2019.rename(columns={'BLKSPLITID':'BLKSPLITID','SUM_residential_units':'HH19'})
display(dfResCBSplit2019)

sdfAddCBSplit = pd.DataFrame.spatial.from_featureclass("Census_Block_Splits_Final_joined_AddressPoints")
dfAddCBSplit = sdfAddCBSplit[['BLKSPLITID','COUNT']]
dfAddCBSplit = dfAddCBSplit.rename(columns={'BLKSPLITID':'BLKSPLITID','COUNT':'ADDPT'})
display(dfAddCBSplit)

               GEOID20       ACRES         BLKSPLITID  HH19
0      490111269024010    3.402761  490111269024010_0   7.0
1      490111254152011    4.501047  490111254152011_2  15.0
2      490111270024054    0.315008  490111270024054_0   NaN
3      490111263033003  317.762203  490111263033003_0   NaN
4      490111264021004  122.763838  490111264021004_2   NaN
...                ...         ...                ...   ...
35204  490572110001005    2.584262  490572110001005_0  12.0
35205  490572107031007    8.197889  490572107031007_0  31.0
35206  490572106001017    3.022303  490572106001017_0   NaN
35207  490351152111046   59.018298  490351152111046_2   NaN
35208  490572106003019    5.611695  490572106003019_0   NaN

[35209 rows x 4 columns]

             BLKSPLITID  ADDPT
0     490490109002006_0    6.0
1     490490109003041_0    0.0
2     490490005071002_2    0.0
3     490572101011007_0    0.0
4     490351101063063_0    9.0
...                 ...    ...
1581  490490102123009_2    0.0
1582  490351101063039_2    1.0
1583  490572104081052_1    0.0
1584  490490101074010_5    0.0
1585  490490101074106_0    0.0

[1586 rows x 2 columns]

In [141]:
sdfAddCBSplit

      OBJECTID1  ...                                              SHAPE
0            37  ...  {"rings": [[[451755.5696999999, 4467006.256899...
1            54  ...  {"rings": [[[456796.3066999996, 4418573.942399...
2            55  ...  {"rings": [[[440828.07880000025, 4467059.7184]...
3            89  ...  {"rings": [[[421903.32859999966, 4578407.2665]...
4           106  ...  {"rings": [[[435848.8942, 4491534.171599999], ...
...         ...  ...                                                ...
1581      35174  ...  {"rings": [[[428236.6830000002, 4478117.6778],...
1582      35188  ...  {"rings": [[[449521.16509999987, 4497294.8345]...
1583      35193  ...  {"rings": [[[394670.20249999966, 4567428.2447]...
1584      35194  ...  {"rings": [[[403959.62040000036, 4461228.36659...
1585      35201  ...  {"rings": [[[404906.48539999966, 4444409.0364]...

[1586 rows x 9 columns]

In [142]:
dfResCBSplit2019

               GEOID20       ACRES         BLKSPLITID  HH19
0      490111269024010    3.402761  490111269024010_0   7.0
1      490111254152011    4.501047  490111254152011_2  15.0
2      490111270024054    0.315008  490111270024054_0   NaN
3      490111263033003  317.762203  490111263033003_0   NaN
4      490111264021004  122.763838  490111264021004_2   NaN
...                ...         ...                ...   ...
35204  490572110001005    2.584262  490572110001005_0  12.0
35205  490572107031007    8.197889  490572107031007_0  31.0
35206  490572106001017    3.022303  490572106001017_0   NaN
35207  490351152111046   59.018298  490351152111046_2   NaN
35208  490572106003019    5.611695  490572106003019_0   NaN

[35209 rows x 4 columns]

In [143]:
#dfResCBS    = pd.DataFrame.merge(dfResCBSplit2010, dfResCBSplit2019, on='BLKSPLITID')
#dfResCBSAdd = pd.DataFrame.merge(dfResCBS        , dfAddCBSplit    , on='BLKSPLITID', how='left')

dfResCBSAdd = pd.DataFrame.merge(dfResCBSplit2019, dfAddCBSplit    , on='BLKSPLITID', how='left')
dfResCBSAdd = dfResCBSAdd.fillna(0)

# add in address points
#dfResCBSAdd['HH10'] = dfResCBSAdd['HH10'] + dfResCBSAdd['ADDPT']
dfResCBSAdd['HH19'] = dfResCBSAdd['HH19'] + dfResCBSAdd['ADDPT']

#idx is the index of split, which is last number in BlockSplitID
dfResCBSAdd['SPLIT_IDX'] = dfResCBSAdd['BLKSPLITID'].str[-1:].astype(int)

dfResCBSAdd

               GEOID20       ACRES         BLKSPLITID  HH19  ADDPT  SPLIT_IDX
0      490111269024010    3.402761  490111269024010_0   7.0    0.0          0
1      490111254152011    4.501047  490111254152011_2  15.0    0.0          2
2      490111270024054    0.315008  490111270024054_0   0.0    0.0          0
3      490111263033003  317.762203  490111263033003_0   0.0    0.0          0
4      490111264021004  122.763838  490111264021004_2   0.0    0.0          2
...                ...         ...                ...   ...    ...        ...
35204  490572110001005    2.584262  490572110001005_0  12.0    0.0          0
35205  490572107031007    8.197889  490572107031007_0  31.0    0.0          0
35206  490572106001017    3.022303  490572106001017_0   0.0    0.0          0
35207  490351152111046   59.018298  490351152111046_2   0.0    0.0          2
35208  490572106003019    5.611695  490572106003019_0   0.0    0.0          0

[35209 rows x 6 columns]

In [144]:
dfSumByGEOID10 = dfResCBSAdd.groupby([strGEOIDField],as_index=False).agg(NUMBLOCKSPLITS=('BLKSPLITID','count'),BLK_ACRES=('ACRES','sum'),BLK_HH19=('HH19','sum'),BLK_ADDPT=('ADDPT','sum'))
dfSumByGEOID10['SPLIT'] = 0
dfSumByGEOID10.loc[(dfSumByGEOID10['NUMBLOCKSPLITS']>1),'SPLIT'] = 1
dfSumByGEOID10

               GEOID20  NUMBLOCKSPLITS    BLK_ACRES  BLK_HH19  BLK_ADDPT  SPLIT
0      490111251021000               2  1148.054350       0.0        0.0      1
1      490111251021001               2   215.000307       7.0        0.0      1
2      490111251021002               1     3.944387       0.0        0.0      0
3      490111251021003               3  5048.871670       6.0        3.0      1
4      490111251021004               2   132.060814       0.0        0.0      1
...                ...             ...          ...       ...        ...    ...
31773  490572112025022               1     2.542601      11.0        0.0      0
31774  490572112025023               1     6.307278      26.0        0.0      0
31775  490572112025024               1     2.449313     187.0        0.0      0
31776  490572112025025               1     2.235727       0.0        0.0      0
31777  490572112025026               1     1.628883       0.0        0.0      0

[31778 rows x 6 columns]

In [145]:
dfResCBSwithTotals = pd.DataFrame.merge(dfResCBSAdd,dfSumByGEOID10,on=strGEOIDField)
dfResCBSwithTotals

               GEOID20       ACRES  ... BLK_ADDPT  SPLIT
0      490111269024010    3.402761  ...       0.0      0
1      490111254152011    4.501047  ...       0.0      1
2      490111254152011    4.861280  ...       0.0      1
3      490111270024054    0.315008  ...       0.0      0
4      490111263033003  317.762203  ...       0.0      0
...                ...         ...  ...       ...    ...
35204  490351131141013    2.099424  ...       0.0      0
35205  490572110001005    2.584262  ...       0.0      0
35206  490572107031007    8.197889  ...       0.0      0
35207  490572106001017    3.022303  ...       0.0      0
35208  490572106003019    5.611695  ...       0.0      0

[35209 rows x 11 columns]

In [146]:
dfResCBSwithTotals[dfResCBSwithTotals[strGEOIDField]=='490572101012002']

Empty DataFrame
Columns: [GEOID20, ACRES, BLKSPLITID, HH19, ADDPT, SPLIT_IDX, NUMBLOCKSPLITS, BLK_ACRES, BLK_HH19, BLK_ADDPT, SPLIT]
Index: []

In [147]:
dfResCBSwithTotals['PCT_ACRES'] = dfResCBSwithTotals['ACRES' ]/dfResCBSwithTotals['BLK_ACRES']
#dfResCBSwithTotals['PCT_HH10' ] = dfResCBSwithTotals['HH10'  ]/dfResCBSwithTotals['BLK_HH10' ]
dfResCBSwithTotals['PCT_HH19' ] = dfResCBSwithTotals['HH19'  ]/dfResCBSwithTotals['BLK_HH19' ]

#dfResCBSwithTotals.loc[(dfResCBSwithTotals['BLK_HH10']==0),'PCT_HH10'] = dfResCBSwithTotals['PCT_ACRES']
dfResCBSwithTotals.loc[(dfResCBSwithTotals['BLK_HH19']==0),'PCT_HH19'] = dfResCBSwithTotals['PCT_ACRES']

dfResCBSwithTotals

               GEOID20       ACRES  ... PCT_ACRES  PCT_HH19
0      490111269024010    3.402761  ...  1.000000       1.0
1      490111254152011    4.501047  ...  0.480762       0.5
2      490111254152011    4.861280  ...  0.519238       0.5
3      490111270024054    0.315008  ...  1.000000       1.0
4      490111263033003  317.762203  ...  1.000000       1.0
...                ...         ...  ...       ...       ...
35204  490351131141013    2.099424  ...  1.000000       1.0
35205  490572110001005    2.584262  ...  1.000000       1.0
35206  490572107031007    8.197889  ...  1.000000       1.0
35207  490572106001017    3.022303  ...  1.000000       1.0
35208  490572106003019    5.611695  ...  1.000000       1.0

[35209 rows x 13 columns]

In [148]:
dfResCBSwithTotals[['HH19','ADDPT','PCT_ACRES','PCT_HH19','SPLIT','SPLIT_IDX']].sum()

HH19         805272.0
ADDPT          4298.0
PCT_ACRES     31778.0
PCT_HH19      31778.0
SPLIT          5724.0
SPLIT_IDX     11220.0
dtype: float64

In [166]:
# Get GEOID20s

dfResCBSwithTotals_GEOIDs = dfResCBSwithTotals.groupby([strGEOIDField],as_index=False).agg(NUMREC=('HH19','count'))
dfResCBSwithTotals_GEOIDs

               GEOID20  NUMREC
0      490111251021000       2
1      490111251021001       2
2      490111251021002       1
3      490111251021003       3
4      490111251021004       2
...                ...     ...
31773  490572112025022       1
31774  490572112025023       1
31775  490572112025024       1
31776  490572112025025       1
31777  490572112025026       1

[31778 rows x 2 columns]

In [169]:
initial_BG_count = arcpy.management.GetCount("tl_2020_49_tabblock20_UTM_WFModelApprox")
print (initial_BG_count)

dfInitial_GEOIDs = pd.DataFrame.spatial.from_featureclass("tl_2020_49_tabblock20_UTM_WFModelApprox").groupby([strGEOIDField],as_index=False).agg(NUMREC=(strGEOIDField,'count'))
dfInitial_GEOIDs

31775

               GEOID20  NUMREC
0      490111251021000       1
1      490111251021001       1
2      490111251021002       1
3      490111251021003       1
4      490111251021004       1
...                ...     ...
31770  490572112025022       1
31771  490572112025023       1
31772  490572112025024       1
31773  490572112025025       1
31774  490572112025026       1

[31775 rows x 2 columns]

In [172]:
dfOuter = pd.DataFrame.merge(dfResCBSwithTotals_GEOIDs,dfInitial_GEOIDs,on=strGEOIDField,how='outer')
dfOuter[dfOuter.isna().any(axis=1)]

               GEOID20  NUMREC_x  NUMREC_y
29182  490572101011007         1       NaN
29183  490572101011009         1       NaN
29201  490572101013007         1       NaN

In [ ]:
# all three are Weber Boundary - Manually deleted from

In [150]:
#check for unmatched records

sdfOriginalBG = pd.DataFrame.spatial.from_featureclass("tl_2020_49_tabblock20_UTM_WFModelApprox")

dfSumByGEOID20 = dfResCBSwithTotals.groupby([strGEOIDField]).agg(NUMBLOCKSPLITS=('SPLIT_IDX','max'))

dfCheckMatch = pd.DataFrame.merge(sdfOriginalBG[[strGEOIDField]],dfSumByGEOID20,on=strGEOIDField,how='left')
dfCheckMatch[dfCheckMatch['NUMBLOCKSPLITS'].isna()]

Empty DataFrame
Columns: [GEOID20, NUMBLOCKSPLITS]
Index: []

In [152]:
# create a unique name for CSV since ArcGIS Pro seems to have hard time when data changes but filename is the same
strTimeStamp = datetime.now().strftime("%Y%m%d_%H%M%S")
strSplitCSV = "Split_" + strTimeStamp  + ".csv"
print(strSplitCSV)

strSplitCSVTableName = strSplitCSV.replace(".", "_")
print(strSplitCSVTableName)

Split_20220511_161432.csv
Split_20220511_161432_csv

In [153]:
dfResCBSwithTotals[['BLKSPLITID','SPLIT','SPLIT_IDX','HH19','ADDPT','BLK_ACRES','BLK_HH19','BLK_ADDPT','PCT_ACRES','PCT_HH19']].to_csv(strSplitCSV)

In [154]:
# add UTM x and y coordinates of central point
arcpy.management.AddGeometryAttributes("Census_Block_Splits_Final", "CENTROID_INSIDE")

In [155]:
#arcpy.management.RemoveJoin("Census_Block_Splits_Final")
arcpy.management.AddJoin("Census_Block_Splits_Final", "BLKSPLITID", strSplitCSV, "BLKSPLITID")

In [156]:
arcpy.management.CopyFeatures("Census_Block_Splits_Final", "Census_Block_Splits_Final_wHHSplits")

In [157]:
arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", strGEOIDField, "TEXT", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", strGEOIDField, "!Census_Block_Splits_Final_" + strGEOIDField + "!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "ACRES", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "ACRES", "!" + strSplitCSVTableName + "_BLK_ACRES!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "HH19", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "HH19", "!" + strSplitCSVTableName + "_BLK_HH19!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "SPLIT", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "SPLIT", "!" + strSplitCSVTableName + "_SPLIT!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "SPLIT_IDX", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "SPLIT_IDX", "!" + strSplitCSVTableName + "_SPLIT_IDX!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "BLKSPLITID", "TEXT", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "BLKSPLITID", "!Census_Block_Splits_Final_BLKSPLITID!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "X_BLKSPLIT", "DOUBLE", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "X_BLKSPLIT", "!Census_Block_Splits_Final_INSIDE_X!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "Y_BLKSPLIT", "DOUBLE", field_length=25)
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "Y_BLKSPLIT", "!Census_Block_Splits_Final_INSIDE_Y!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "PCT_ACRES", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "PCT_ACRES", "!" + strSplitCSVTableName + "_PCT_ACRES!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "PCT_HH19", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "PCT_HH19", "!" + strSplitCSVTableName + "_PCT_HH19!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "ACRES_BS", "DOUBLE")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "ACRES_BS", "!Census_Block_Splits_Final_ACRES!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "HH19_BS", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "HH19_BS", "!" + strSplitCSVTableName + "_HH19!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "CO_TAZID", "LONG")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "CO_TAZID", "!Census_Block_Splits_Final_CO_TAZID!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "SUBAREAID", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "SUBAREAID", "1", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "ADDPT", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "ADDPT", "!" + strSplitCSVTableName + "_BLK_ADDPT!", "PYTHON", "")

arcpy.management.AddField("Census_Block_Splits_Final_wHHSplits", "ADDPT_BS", "INTEGER")
arcpy.CalculateField_management("Census_Block_Splits_Final_wHHSplits", "ADDPT_BS", "!" + strSplitCSVTableName + "_ADDPT!", "PYTHON", "")

In [158]:
# delte 
fldlist = arcpy.ListFields("Census_Block_Splits_Final_wHHSplits")

for fld in fldlist: 
    if (fld.name not in ['OBJECTID','CO_TAZID',strGEOIDField,'BLKSPLITID','SPLIT','SPLIT_IDX','Shape','Shape_Length','Shape_Area','ACRES','HH10','HH19','ACRES_BS','HH19_BS','ADDPT_BS','PCT_ACRES','PCT_HH19','ADDPT','X_BLKSPLIT','Y_BLKSPLIT','SUBAREAID']):
        print("deleting field: " + fld.name)
        arcpy.DeleteField_management("Census_Block_Splits_Final_wHHSplits",[fld.name])
print("DONE!")

deleting field: Census_Block_Splits_Final_BLKSPLITID
deleting field: Census_Block_Splits_Final_GEOID20
deleting field: Census_Block_Splits_Final_CO_TAZID
deleting field: Census_Block_Splits_Final_ACRES
deleting field: Census_Block_Splits_Final_INSIDE_X
deleting field: Census_Block_Splits_Final_INSIDE_Y
deleting field: Split_20220511_161432_csv_Field1
deleting field: Split_20220511_161432_csv_BLKSPLITID
deleting field: Split_20220511_161432_csv_SPLIT
deleting field: Split_20220511_161432_csv_SPLIT_IDX
deleting field: Split_20220511_161432_csv_HH19
deleting field: Split_20220511_161432_csv_ADDPT
deleting field: Split_20220511_161432_csv_BLK_ACRES
deleting field: Split_20220511_161432_csv_BLK_HH19
deleting field: Split_20220511_161432_csv_BLK_ADDPT
deleting field: Split_20220511_161432_csv_PCT_ACRES
deleting field: Split_20220511_161432_csv_PCT_HH19
DONE!

In [164]:
# manually delete polygons with very small area, acres near 0

# 4 very, very small splits were deleted, hence the new value of 35205
arcpy.management.GetCount("Census_Block_Splits_Final_wHHSplits")

In [160]:
arcpy.management.CopyFeatures("Census_Block_Splits_Final_wHHSplits", "CensusBlockTAZSplitsWithHouseholds_" + strTimeStamp         )
arcpy.management.CopyFeatures("Census_Block_Splits_Final_wHHSplits", "CensusBlockTAZSplitsWithHouseholds_" + strTimeStamp + ".shp")

# One last check

In [161]:
strLayerName = "CensusBlockTAZSplitsWithHouseholds_" + strTimeStamp + ".shp"

initial_count = arcpy.management.GetCount(strLayerName)
print (initial_count)

# union with self to see if overlapping polygons
arcpy.analysis.Union([strLayerName, strLayerName], "tempSelfUnion")
selfunion_count = arcpy.management.GetCount("tempSelfUnion")
print (selfunion_count)

#arcpy.management.Delete("tempSelfUnion")

# set layer definition for TAZ
for lyr in m.listLayers("tempSelfUnion"):
    lyrAddress = lyr
    if lyr.supports("DEFINITIONQUERY"):
        lyr.definitionQuery = "BLKSPLITID <> BLKSPLITID_1"

35205
35205